<ion-header>
  <ion-toolbar>
    <ion-title
      >{{'sign_in' | translate}}
      <!-- <span class="ion-float-end" (click)="skip()">{{'skip' | translate}}</span> -->
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_img">
  <div class="banner ion-text-center">
    <img src="assets/images/logo.png" />
  </div>
  <form [formGroup]="loginForm" autocomplete="off" autofill="off">
    <div class="form">
      <ion-list lines="none">
        <!-- <ion-item lines="none" class="ion-no-padding">
          <ion-icon name="paper-plane-outline"></ion-icon>
          <ion-input
            type="text"
            formControlName="username"
            autocomplete="off"
            placeholder="{{'username' | translate}}"
          ></ion-input>
        </ion-item>
        <p
          class="login-error error"
          *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched"
        >
          Username is required
        </p> -->

        <ion-item lines="none" class="ion-no-padding">
          <ion-icon name="paper-plane-outline"></ion-icon>
          <ion-input
            type="email"
            formControlName="email"
            autocomplete="off"
            placeholder="{{'email_address' | translate}}"
          ></ion-input>
        </ion-item>
        <p
          class="login-error error"
          *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched"
        >
          Email is required
        </p>
        <p
          class="login-error error"
          *ngIf="!loginForm.get('email').hasError('required') && loginForm.get('email').hasError('email') && loginForm.get('email').touched"
        >
          Please enter a valid email
        </p>

        <ion-item lines="none">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input
            type="password"
            formControlName="password"
            placeholder="{{'password' | translate}}"
          ></ion-input>
          <!-- <h3 slot="end" (click)="forgot_password()">{{'Forgot' | translate}}</h3> -->
        </ion-item>
        <p
          class="login-error error"
          *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched"
        >
          Password is required
        </p>
        <ion-button size="large" class="btn" [disabled]="!loginForm.valid" (click)="signin()"
          >{{'sign_in' | translate}}</ion-button
        >
        <!-- <ion-button size="large" class="btn" (click)="signin()"
        >{{'sign_in' | translate}}</ion-button
      > -->
      </ion-list>
      <div class="bg-login">
        <div class="social_login">
          <h2>{{'or_continue_with' | translate}}</h2>
          <ion-row>
            <ion-col size="6">
              <ion-button class="btn fb" (click)="facebookLogin()">
                <img slot="start" src="assets/images/fb.png" />
                {{'facebook' | translate}}
              </ion-button>
            </ion-col>

            <ion-col size="6">
              <ion-button class="btn google" (click)="googleLogin()">
                <img slot="start" src="assets/images/google.png" />
                {{'google' | translate}}
              </ion-button>
            </ion-col>
          </ion-row>
        </div>

        <div class="registered">
          <h2>{{'not_registered_yet' | translate}}</h2>
          <!-- <ion-button size="large" fill="outline" class="btn" (click)="goTosignup()">{{'sign_up' | translate}}</ion-button> -->
          <p style="margin: 0 auto; text-align: center;">
            <img
              src="assets/images/signup-btn.png"
              (click)="goTosignup()"
              width="300px"
            />
          </p>
        </div>
      </div>
    </div>
  </form>
</ion-content>
