ion-content.bg_img {
	//--background: url(../../assets/images/bg_blur.png) 0 0/100% 100% no-repeat;

}
ion-toolbar{
	--background:#fff;
}
.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0;
    border: none;
}
ion-header ion-toolbar ion-title {
	padding: 0 15px!important;
	font-size:1.2rem; 
	color:#222;
	span {
		font-size: 1rem;
		color: #222;
		font-weight: 500;
	}
}

.banner {
	// width: 100%;
	width: 200px;
    margin: 3% auto 15% auto;
}

ion-list {
	.button.btn {
		--border-radius: 0px !important;
		// --border-radius: 50px !important;
		max-width: calc(100% - 52px) !important;
		margin: 0 auto !important;
		display: block;
		margin-top: 35px !important;
	}
}
.bg-login{
	background: url(../../assets/images/login-bg.png);
}
.registered,
.social_login {
	display: block;
	margin-top: 45px;
	margin-bottom: 20px;
	h2 {
		// color: var(--white);
		color: #222;
		margin: 0;
		text-align: center;
		font-weight: 800;
		font-size: .9rem;
		margin-bottom: 32px;

	}

	ion-row {
		margin: 0 -5px;

		ion-col {
			.button.btn {
				margin: 0;
				--border-radius: 0px !important;
				font-size: .95rem;
				letter-spacing: 0 !important;

				img {
					max-width: 21px;
					position: relative;
					right: 10px;
				}

				&.google {
					--background: var(--white) !important;
					color: #272525 !important;
					font-weight: 600 !important;
					border: 2px solid #dedede;
				}

				&.fb {
					--background: #3a559f !important;

				}
			}
		}

	}
}

.registered {
	.button.btn.button-outline {
		--border-radius: 0px !important;
		max-width: calc(100% - 52px) !important;
		margin: 0 auto !important;
		display: block;
		color: #222;
		font-size: 1rem;
		text-transform: uppercase;
		overflow: hidden;
		position: relative;
		font-weight: bold;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--white);
			border-radius: 50px;
			opacity: .1;
		}
	}
}
ion-item{
	height:35px;
	background: linear-gradient(90deg, rgba(251,0,81,1) 0%, rgba(183,0,154,1) 60%, rgba(138,0,202,1) 100%);
    background-size: 100% 1px;
    background-position: bottom 0 left 0,bottom 1px left 0;
    background-repeat: no-repeat;
}
@media (max-width:320px){
	.button.btn{
		font-size: 0.7rem !important;
	}
	.form ion-item ion-textarea, .form ion-item ion-input {
		font-size: 0.8rem !important;
	}
}