<ion-header class="bg_transparent">
	<ion-toolbar>
	<ion-buttons slot="start">
			<ion-back-button  text=""  icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<span class="ion-float-end">
				<ion-icon class="zmdi zmdi-more ion-text-end"></ion-icon>
			</span>
		</ion-title>
	</ion-toolbar>
	<div class="banner">
		<div class="banner_img center_img">
			<img src="assets/images/r1.png" class="crop_img">
		</div>
		<div class="banner_details">
			<div class="text_box">
				<h2>72.8 Chrtbuster</h2>
				<p>12,12,574 {{'listeners' | translate}}</p>
			</div>
			<ion-row>
				<ion-col size="4" class="ion-text-start">
					<ion-icon class="zmdi zmdi-favorite-outline"></ion-icon>
				</ion-col>
				<ion-col size="4" class="play_push_btn ion-text-center">
					<ion-icon class="zmdi zmdi-play"></ion-icon>
				</ion-col>
				<ion-col size="4" class="ion-text-end">
					<ion-icon class="zmdi zmdi-share"></ion-icon>
				</ion-col>
			</ion-row>
		</div>
	</div>
</ion-header>

<ion-content>
	<div class="similar_radio">
		<div class="container live_radio">
			<h2>{{'similar_radio_channels' | translate}}</h2>
			<div class="scroll_container ">
				<div class="item_srcoll">
					<div class="img_box center_img">
						<img src="assets/images/r2.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>92.6 <sub>fm</sub></h3>
						<h5>Old Retrofy</h5>
					</div>
				</div>
				<div class="item_srcoll">
					<div class="img_box center_img">
						<img src="assets/images/r3.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>99.9 <sub>fm</sub></h3>
						<h5>Chartbuster</h5>
					</div>
				</div>
				<div class="item_srcoll">
					<div class="img_box center_img">
						<img src="assets/images/r2.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>92.6 <sub>fm</sub></h3>
						<h5>Old Retrofy</h5>
					</div>
				</div>
				<div class="item_srcoll">
					<div class="img_box center_img">
						<img src="assets/images/r3.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>99.9 <sub>fm</sub></h3>
						<h5>Chartbuster</h5>
					</div>
				</div>
				<div class="item_srcoll">
					<div class="img_box center_img">
						<img src="assets/images/r2.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>92.6 <sub>fm</sub></h3>
						<h5>Old Retrofy</h5>
					</div>
				</div>
				<div class="item_srcoll">
					<div class="img_box center_img">
						<img src="assets/images/r3.png" class="crop_img">
					</div>
					<div class="text_box">
						<h3>99.9 <sub>fm</sub></h3>
						<h5>Chartbuster</h5>
					</div>
				</div>
			</div>
		</div>


		<div class="container banner">
			<div class="scroll_container">
				<div class="item_srcoll">
					<div class="img_box center_img">
						<img src="assets/images/banner1.png" class="crop_img">
					</div>
				</div>
				<div class="item_srcoll">
					<div class="img_box center_img">
						<img src="assets/images/banner2.png" class="crop_img">
					</div>
				</div>
				<div class="item_srcoll">
					<div class="img_box center_img">
						<img src="assets/images/banner1.png" class="crop_img">
					</div>
				</div>
				<div class="item_srcoll">
					<div class="img_box center_img">
						<img src="assets/images/banner2.png" class="crop_img">
					</div>
				</div>
				<div class="item_srcoll">
					<div class="img_box center_img">
						<img src="assets/images/banner1.png" class="crop_img">
					</div>
				</div>
				<div class="item_srcoll">
					<div class="img_box center_img">
						<img src="assets/images/banner2.png" class="crop_img">
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>