ion-content {
	--background: rgba(0, 0, 1, 0.58) !important;
}

ion-footer {
	background: var(--bg-color);
	padding: 20px 0;
	padding-bottom: 40px;

	.form {
		h2 {
			font-size: 1.6rem;
			font-weight: 600;
			color: var(--white);
			margin: 0;
			padding-bottom: 21px;
		}

		ion-row {
			align-items: center;
			padding: 16px 0;

			h3 {
				margin: 0;
				color: var(--white);
				font-size: 1.1rem;
			}

			ion-toggle {
				display: block;
				margin: 0 auto;
				--background: var(--dark);
				--background-checked: var(--dark);
				--handle-background:var(--primary);
				--handle-background-checked	:var(--primary);
			}
		}

		.button.btn {
			--border-radius: 50px !important;
			max-width: calc(100% - 52px) !important;
			margin: 0 auto !important;
			display: block; 
		}
	}
}