<ion-header class="bg_transparent">
  <ion-toolbar>
    <ion-title>
      <!-- <span class="ion-float-start" (click)="dismiss()">
				<ion-icon class="zmdi zmdi-chevron-left ion-text-start"></ion-icon>
			</span> -->

      <!-- <span class="ion-float-end">
				<ion-icon class="zmdi zmdi-more ion-text-end" (click)="option()"></ion-icon>
			</span> -->
    </ion-title>
    <!-- <ion-col size="3" text-right>-->
    <div class="right-icon" slot="end">
      <ion-icon
        name="options-outline"
        (click)="gotoSetting()"
        slot="end"
      ></ion-icon>
    </div>
    <!-- </ion-col> -->
  </ion-toolbar>
</ion-header>

<ion-content class="" fullscreen [ngClass]="fabAction ? 'active' : ''">
  <div class="banner">
    <div class="banner_img center_img">
      <img
        src="{{constants?.currentSong?.image}}"
        class="crop_img"
        onError="src='assets/images/r1.png';"
      />
      <!-- <img src="assets/images/login-bg.png" class="crop_img">  -->
    </div>
    <div class="banner_details">
      <!-- <h6 (click)="toggleFab()">{{'play_lyrics' | translate}}</h6> -->
      <!-- <div class="lyrics">
				<h5>It was such a great.</h5>
				<h5 class="active">Loving you was my only trait,</h5>
				<h5>Until my Last breath</h5>
			</div> -->
      <div class="text_box" *ngIf="!noResults">
        <h2>{{constants?.currentSong?.post_title}}</h2>
        <p>{{constants?.currentSong?.authorName || ''}}</p>
      </div>

      <div class="playall-btn" *ngIf="songs.length">
        <ion-button (click)="playAll()">PLAY ALL</ion-button>
      </div>
      <div class="playlist-song" *ngIf="songs.length">
        <ion-item *ngFor="let song of songs; let i = index;">
          <div class="item_container d-flex">
            <ion-row>
              <ion-col size="2" (click)="playSong(song, i)">
                <div class="img_container">
                  <div class="img_box center_img">
                    <img
                      src="{{song.image}}"
                      class="crop_img"
                      onError="this.onerror=null;this.src='assets/images/r1.png';"
                    />
                  </div>
                </div>
              </ion-col>
              <ion-col size="9" (click)="playSong(song, i)">
                <div class="item_detail">
                  <h2>{{song?.post_title}}</h2>
                  <h5 class="d-flex">{{song?.authorName || ''}}</h5>
                </div>
              </ion-col>
              <ion-col size="1" *ngIf="constants.currentSong.ID !== song.ID">
                <!-- <ion-icon name="ellipsis-horizontal-outline"></ion-icon> -->
                <!-- <ion-icon
                *ngIf="song?.isAddedToPlaylist == 'yes'"
                class="zmdi zmdi-minus-circle-outline end ion-text-end"
                (click)="removeFromPlaylist(song, i)"
			  ></ion-icon> -->
                <ion-icon
                  class="zmdi zmdi-minus-circle-outline end ion-text-end"
                  color="danger"
                  (click)="removeFromPlaylist(song, i)"
                ></ion-icon>
              </ion-col>
              <ion-col size="1" *ngIf="constants.currentSong.ID == song.ID">
                <img src="assets/images/sound.gif" />
              </ion-col>
            </ion-row>
          </div>
        </ion-item>
      </div>
    </div>

    <div *ngIf="noResults">
      <p class="ion-text-center no-record-playlist">
        You don't have any podcasts in your list, browse for some now
      </p>
    </div>
  </div>
</ion-content>
