<ion-header>
	<ion-toolbar>
		<ion-title>
			{{'radio' | translate}}
			<span class="ion-float-end">
				<ion-icon class="zmdi zmdi-search ion-text-end"></ion-icon>
			</span>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen> 
	<div class="container live_radio">
		<h2>{{'live_radio' | translate}}</h2>
		<div class="scroll_container ">
			<div class="item_srcoll" (click)="playRadio()">
				<div class="img_box center_img">
					<img src="assets/images/r1.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3>72.8 <sub>fm</sub></h3>
					<h5>Chartbuster</h5>
				</div>
			</div>
			<div class="item_srcoll" (click)="playRadio()">
				<div class="img_box center_img">
					<img src="assets/images/r2.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3>92.6 <sub>fm</sub></h3>
					<h5>Old Retrofy</h5>
				</div>
			</div>
			<div class="item_srcoll" (click)="playRadio()">
				<div class="img_box center_img">
					<img src="assets/images/r3.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3>99.9 <sub>fm</sub></h3>
					<h5>Chartbuster</h5>
				</div>
			</div>
			<div class="item_srcoll" (click)="playRadio()">
				<div class="img_box center_img">
					<img src="assets/images/r1.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3>72.8 <sub>fm</sub></h3>
					<h5>Chartbuster</h5>
				</div>
			</div>
			<div class="item_srcoll" (click)="playRadio()">
				<div class="img_box center_img">
					<img src="assets/images/r2.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3>92.6 <sub>fm</sub></h3>
					<h5>Old Retrofy</h5>
				</div>
			</div>
			<div class="item_srcoll" (click)="playRadio()">
				<div class="img_box center_img">
					<img src="assets/images/r3.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3>99.9 <sub>fm</sub></h3>
					<h5>Chartbuster</h5>
				</div>
			</div>
			<div class="item_srcoll" (click)="playRadio()">
				<div class="img_box center_img">
					<img src="assets/images/r1.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3>72.8 <sub>fm</sub></h3>
					<h5>Chartbuster</h5>
				</div>
			</div>
			<div class="item_srcoll" (click)="playRadio()">
				<div class="img_box center_img">
					<img src="assets/images/r2.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3>92.6 <sub>fm</sub></h3>
					<h5>Old Retrofy</h5>
				</div>
			</div>
			<div class="item_srcoll" (click)="playRadio()">
				<div class="img_box center_img">
					<img src="assets/images/r3.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3>99.9 <sub>fm</sub></h3>
					<h5>Chartbuster</h5>
				</div>
			</div>
		</div>
	</div>



	<div class="container how_is_your_mood">
		<h2>{{'mood_radio' | translate}}</h2>
		<div class="scroll_container">
			<div class="item_srcoll Party">
				<div class="img_box center_img">
					<img src="assets/images/m1.png" class="crop_img">
					<h5>Party</h5>
				</div>
			</div>
			<div class="item_srcoll Romance">
				<div class="img_box center_img">
					<img src="assets/images/m2.png" class="crop_img">
					<h5>Romance</h5>
				</div>
			</div>
			<div class="item_srcoll Retro">
				<div class="img_box center_img">
					<img src="assets/images/m3.png" class="crop_img">
					<h5>Retro</h5>
				</div>
			</div>
			<div class="item_srcoll Rock">
				<div class="img_box center_img">
					<img src="assets/images/m4.png" class="crop_img">
					<h5>Rock</h5>
				</div>
			</div>
			<div class="item_srcoll Party">
				<div class="img_box center_img">
					<img src="assets/images/m1.png" class="crop_img">
					<h5>Party</h5>
				</div>
			</div>
			<div class="item_srcoll Romance">
				<div class="img_box center_img">
					<img src="assets/images/m2.png" class="crop_img">
					<h5>Romance</h5>
				</div>
			</div>
			<div class="item_srcoll Retro">
				<div class="img_box center_img">
					<img src="assets/images/m3.png" class="crop_img">
					<h5>Retro</h5>
				</div>
			</div>
			<div class="item_srcoll Rock">
				<div class="img_box center_img">
					<img src="assets/images/m4.png" class="crop_img">
					<h5>Rock</h5>
				</div>
			</div>
			<div class="item_srcoll Party">
				<div class="img_box center_img">
					<img src="assets/images/m1.png" class="crop_img">
					<h5>Party</h5>
				</div>
			</div>
			<div class="item_srcoll Romance">
				<div class="img_box center_img">
					<img src="assets/images/m2.png" class="crop_img">
					<h5>Romance</h5>
				</div>
			</div>
			<div class="item_srcoll Retro">
				<div class="img_box center_img">
					<img src="assets/images/m3.png" class="crop_img">
					<h5>Retro</h5>
				</div>
			</div>
			<div class="item_srcoll Rock">
				<div class="img_box center_img">
					<img src="assets/images/m4.png" class="crop_img">
					<h5>Rock</h5>
				</div>
			</div>
		</div>
	</div>



	<div class="container artist_radio ">
		<h2>{{'artist_radio' | translate}}</h2>
		<div class="scroll_container ">
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/images/img1.png" class="crop_img">
					<ion-icon class="zmdi zmdi-play-circle"></ion-icon>
				</div>
				<h5>Add Resol</h5>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/images/img2.png" class="crop_img">
					<ion-icon class="zmdi zmdi-play-circle ion-text-end"></ion-icon>
				</div>
				<h5>Aks Williamson</h5>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/images/img3.png" class="crop_img">
					<ion-icon class="zmdi zmdi-play-circle ion-text-end"></ion-icon>
				</div>
				<h5>Bohen Hesion</h5>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/images/img4.png" class="crop_img">
					<ion-icon class="zmdi zmdi-play-circle ion-text-end"></ion-icon>
				</div>
				<h5>Bumalo Pajero</h5>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/images/img5.png" class="crop_img">
					<ion-icon class="zmdi zmdi-play-circle ion-text-end"></ion-icon>
				</div>
				<h5>Adams Terena</h5>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/images/img6.png" class="crop_img">
					<ion-icon class="zmdi zmdi-play-circle ion-text-end"></ion-icon>
				</div>
				<h5>Afro Jacks</h5>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/images/img1.png" class="crop_img">
					<ion-icon class="zmdi zmdi-play-circle"></ion-icon>
				</div>
				<h5>Add Resol</h5>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/images/img2.png" class="crop_img">
					<ion-icon class="zmdi zmdi-play-circle ion-text-end"></ion-icon>
				</div>
				<h5>Aks Williamson</h5>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/images/img3.png" class="crop_img">
					<ion-icon class="zmdi zmdi-play-circle ion-text-end"></ion-icon>
				</div>
				<h5>Bohen Hesion</h5>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/images/img4.png" class="crop_img">
					<ion-icon class="zmdi zmdi-play-circle ion-text-end"></ion-icon>
				</div>
				<h5>Bumalo Pajero</h5>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/images/img5.png" class="crop_img">
					<ion-icon class="zmdi zmdi-play-circle ion-text-end"></ion-icon>
				</div>
				<h5>Adams Terena</h5>
			</div>
			<div class="item_srcoll">
				<div class="img_box center_img">
					<img src="assets/images/img6.png" class="crop_img">
					<ion-icon class="zmdi zmdi-play-circle ion-text-end"></ion-icon>
				</div>
				<h5>Afro Jacks</h5>
			</div>
		</div>
	</div>


	<div class="container banner">
		<div class="scroll_container">
			<div class="item_srcoll" (click)="subscribe()">
				<div class="img_box center_img">
					<img src="assets/images/banner1.png" class="crop_img">
				</div>
			</div>
			<div class="item_srcoll" (click)="subscribe()">
				<div class="img_box center_img">
					<img src="assets/images/banner2.png" class="crop_img">
				</div>
			</div>
			<div class="item_srcoll" (click)="subscribe()">
				<div class="img_box center_img">
					<img src="assets/images/banner1.png" class="crop_img">
				</div>
			</div>
			<div class="item_srcoll" (click)="subscribe()">
				<div class="img_box center_img">
					<img src="assets/images/banner2.png" class="crop_img">
				</div>
			</div>
			<div class="item_srcoll" (click)="subscribe()">
				<div class="img_box center_img">
					<img src="assets/images/banner1.png" class="crop_img">
				</div>
			</div>
			<div class="item_srcoll" (click)="subscribe()">
				<div class="img_box center_img">
					<img src="assets/images/banner2.png" class="crop_img">
				</div>
			</div>
		</div>
	</div>

</ion-content>