ion-header ion-toolbar ion-title {
	padding: 0 15px !important;

	span {
		ion-icon {
			font-size: 1.5rem;
		}
	}
}

.container {
	margin-bottom: 23px;

	h2 {
		margin: 0;
		color: var(--white);
		font-size: 1.1rem;
		font-weight: 400;
		padding: 0px 20px;
		margin-bottom: 15px;
	}

	.scroll_container {
		width: 100%;
		overflow-x: scroll;
		white-space: nowrap;

		.item_srcoll {
			display: inline-block;
			margin: 0 5px;

			&:first-child {
				margin-left: 20px;
			}

			&:last-child {
				margin-right: 20px;
			}
		}

	}

	&.live_radio {
		padding-top: 10px;

		.scroll_container {
			.item_srcoll {
				position: relative;
				width: 133px;
				height: 175px;
				overflow: hidden;
				border-radius: 7px;
				background: #18181a;

				&::before,
				&::after {
					content: '';
					position: absolute;
					bottom: 29px;
					left: 0;
					width: 100%;
					background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(24, 24, 26, 1) 100%);
					z-index: 2;
					height: 51px;

				}

				.img_box {
					width: 133px;
					height: 142px;
					border-radius: 7px;
				}

				.text_box {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: auto;
					overflow: hidden;
					padding: 12px 12px;
					z-index: 999;


					h3 {
						color: var(--white);
						margin: 0;
						position: relative;
						z-index: 99;
						font-size: 1.6rem;
						margin-bottom: 4px;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;

						sub {
							font-size: .9rem;
						}

					}

					h5 {
						color: var(--white);
						margin: 0;
						font-size: .9rem;
						font-weight: 400;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						letter-spacing: .2px;
						position: relative;
						z-index: 99;

					}

				}


			}
		}
	}

	&.how_is_your_mood {

		.scroll_container {
			.item_srcoll {
				position: relative;
				width: 90px;
				height: 40px;
				overflow: hidden;
				border-radius: 7px;

				.img_box {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
				}

				h5 {
					position: relative;
					z-index: 99;
					color: var(--white);
					margin: 0;
					font-size: .9rem;
					font-weight: 400;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					letter-spacing: .2px;
					text-align: center;
					align-self: center;
					width: 100%;
				}

				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: var(--primary);
					opacity: .8;
				}

				&.Party {
					&::after {
						background: #174a93;
					}
				}

				&.Romance {
					&::after {
						background: #a12728;
					}
				}

				&.Retro {
					&::after {
						background: #97651d;
					}
				}

				&.Rock {
					&::after {
						background: #31631d;
					}
				}
			}
		}
	}

	&.artist_radio {
		margin-bottom: 15px;
		.scroll_container {
			.item_srcoll {
				width: 72px;

				.img_box {
					width: 72px;
					height: 72px;
					border-radius: 7px;
					margin-bottom: 7px;

					ion-icon {
						color: var(--white);
						position: absolute;
						right: 5px;
						top: 5px;
						font-size: 1.4rem;
						border-radius: 50%;
						overflow: hidden;
						width: 20px;
						height: 18px;
						line-height: 19px;

						&::after {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							width:calc(100% - 6px);
							height: calc(100% - 6px);
							background: var(--black);
							z-index: -1;
							margin: auto;
								border-radius: 50%;
						}
					}
				}

				h5 {
					color: var(--white);
					margin: 0;
					font-size: .65rem;
					font-weight: 400;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					letter-spacing: .2px;

				}
			}
		}
	}

	&.banner {
		.scroll_container {
			.item_srcoll {
				position: relative;
				width: 240px;
				height: 90px;
				overflow: hidden;
				border-radius: 7px;

				.img_box {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
				}
			}
		}

	}


}