<ion-header class="bg_transparent">
  <ion-toolbar>
    <div class="left-icon" slot="start">
      <!-- <ion-icon
        name="options-outline"
        (click)="gotoSetting()"
        slot="end"
      ></ion-icon> -->
      <ion-icon
        id="backbtn"
        name="chevron-back-outline"
        slot="start"
        (click)="goBack()"
      ></ion-icon>
    </div>
    <ion-title> </ion-title>
    <!-- <div class="right-icon" slot="end">
      <ion-icon
        name="options-outline"
        (click)="gotoSetting()"
        slot="end"
      ></ion-icon>
    </div> -->
  </ion-toolbar>
</ion-header>

<ion-content class="" fullscreen>
  <div *ngIf="podcast.length">
    <ion-card *ngFor="let pod of podcast; let i = index;" class="cat-card" (click)="openPodcast(pod)">
      <img src="{{pod.image}}" onError="this.onerror=null;this.src='assets/images/r1.png';" class="cat-card-image" />
      <ion-card-header>
        <ion-card-title role="heading" aria-level="2"
          >{{pod.name}}</ion-card-title
        >
        <ion-card-subtitle role="heading" aria-level="3"
          >{{pod.taxonomy}}</ion-card-subtitle
        >
      </ion-card-header>
      <!-- <ion-card-content [innerHtml]="pod.post_content">
      </ion-card-content> -->
    </ion-card>
  </div>

  <div  class="text_box no-podcast-error" *ngIf="!podcast.length">
    <h2>No podcasts found.</h2>
  </div>

</ion-content>
