ion-tabs {
  ion-tab-bar {
    // --background: var(--black) !important;

    ion-tab-button {
      ion-icon {
        font-size: 1.6rem;
        color: #3b0e7c;
      }

      &.tab-selected {
        ion-icon {
          // color: var(--primary);
          color: #ca4ef3;
        }
        ion-label {
          color: #ca4ef3;
          font-family: AvertaCY-Regular;
        }
      }
    }
  }

  .played_songs {
    // background: var(--black) !important;
    background: #fff !important;
    border-radius: 30px 30px 0 0;
    position: relative;
    overflow: hidden;
    padding-top: 7px;

    .song_detail {
      border-radius: 0px;
      padding: 5px 0px;
      width: calc(100% - 15px);
      margin: 0 auto;
      margin-bottom: 5px;
      position: relative;
      overflow: hidden;
      background: #f3f1f1;
      border-bottom: 1px solid;
      background: linear-gradient(90deg, #fb0051 0%, #b7009a 60%, #8a00ca 100%);
      background-size: 100% 1px;
      background-position: bottom 0 left 0, bottom 2px left 0;
      background-repeat: no-repeat;
      img {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: var(--dark);
        opacity: 0.7;
      }

      .seeking {
        position: absolute;
        left: 0;
        right: 0;
        top: 1px;
        width: calc(100% - 40px);
        height: 1px;
        margin: 0 auto;
        overflow: hidden;
        background: var(--dark);
        z-index: 99;

        .seeking_activated {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background: var(--primary);
        }
      }

      .favorite_icon_box {
        position: relative;
        min-width: 50px;
        height: 50px;
        overflow-x: 99;

        ion-icon {
          // color: var(--white);
          font-size: 1.25rem;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 20px;
          height: 20px;
          overflow: hidden;
          margin: auto;
          transition: all 0.3s ease-in-out;

          &.zmdi-favorite {
            width: 0px;
            height: 0px;
            transition: all 0.3s ease-in-out;
            color: var(--primary);
          }
        }

        &.active {
          ion-icon {
            &.zmdi-favorite {
              width: 25px;
              height: 25px;
              transition: all 0.3s ease-in-out;
            }

            &.zmdi-favorite-outline {
              width: 0px;
              height: 0px;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }

      .text_box {
        position: relative;
        z-index: 99;
        width: 100%;

        h2 {
          margin: 0;
          // color: var(--white);
          font-weight: 400;
          font-size: 0.8rem;
          letter-spacing: 0.3px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 99%;
        }

        p {
          margin: 0;
          // color: var(--white);
          font-size: 0.6rem;
          font-weight: 400;
          letter-spacing: 0.2px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 99%;
        }
      }

      .img_and_play_btn {
        display: flex;
        align-items: center;
        padding-left: 15px;
        width: 55%;
        .img_box {
          width: 92px;
          height: 50px;

          img {
            vertical-align: middle;
            width: 100%;
            height: 100%;
            object-fit: cover;
            &.crop_img {
              height: 223%;
              opacity: 0.4;
            }
          }
        }

        .paly_pause_btn {
          border-radius: 50%;
          background: var(--white);
          min-width: 36px;
          height: 36px;
          text-align: center;
          position: relative;
          overflow: hidden;
          margin: 0 8px;
          border: 1px solid #222;
          border-radius: 50px;
          // box-shadow: 0 8px 7px 0px rgba(0, 0, 0, 0.8);

          ion-icon {
            line-height: 36px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 1.6rem;
          }
        }
      }
      .paly_pause_btn {
        ion-icon {
          border: 1px solid #222;
          border-radius: 50px;
          padding: 5px;
          font-size: 1rem;
        }
      }
    }
  }
}
ion-tab-bar {
  height: 70px;
  ion-tab-button {
    background: #f3f1f1;
    ion-label {
      margin-top: 8px;
      font-size: 12px;
      color: #3b0e7c;
    }
    ion-icon {
      font-size: 14px;
      color: #3b0e7c;
    }
  }
}
