<ion-tabs>
  <div *ngIf="showCurrentSong">
    <div class="played_songs">
      <div class="song_detail d-flex">
        <!-- <div class="seeking">
				<div class="seeking_activated" style="width: 50%;"></div>
			</div>   -->
        <div
          class="favorite_icon_box ion-text-center"
          [ngClass]="favorite_icon ? 'favorite_icons active' : 'favorite_icons'"
          (click)="toggleFavorite_icon()"
        >
          <!-- <ion-icon class="zmdi zmdi-favorite-outline"></ion-icon> -->
          <!-- <ion-icon class="zmdi zmdi-favorite"></ion-icon> -->
          <ion-icon
            name="play"
            *ngIf="constants.play == false"
            (click)="playsong()"
          ></ion-icon>
          <ion-icon
            name="pause"
            *ngIf="constants.play"
            (click)="pausesong()"
          ></ion-icon>
        </div>
        <div class="img_box center_img" (click)="openPlayer()">
          <img
            src="{{constants?.currentSong?.image}}"
            onError="src ='assets/images/r1.png'"
            class=""
            width="50px"
          />
        </div>
        <div class="img_and_play_btn" (click)="openPlayer()">
          <div class="text_box" >
            <h2>{{constants?.currentSong?.post_title}}</h2>
            <p>{{constants?.currentSong?.authorName || ''}}</p>
          </div>
        </div>
        <div class="paly_pause_btn end">
          <!-- <ion-icon class="zmdi zmdi-play"></ion-icon> -->
          <ion-icon name="ellipsis-horizontal" (click)="option()"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="add-song">
      <!-- <ion-icon class="zmdi zmdi-home"></ion-icon> -->
      <!-- <ion-icon name="play-circle-outline"></ion-icon>
			 -->
      <img src="assets/images/play-icon.png" width="25px" />
      <ion-label>Library</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <!-- <ion-icon class="zmdi zmdi-search"></ion-icon> -->
      <!-- <ion-icon name="mic-outline"></ion-icon> -->
      <img src="assets/images/mike-icon.png" width="27px" />

      <ion-label>Browse</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <!-- <ion-icon class="zmdi zmdi-radio"></ion-icon> -->
      <!-- <ion-icon name="search-outline"></ion-icon> -->
      <img src="assets/images/search-icon.png" width="25px" />

      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="podcast-home">
      <!-- <ion-icon class="zmdi zmdi-playlist-audio"></ion-icon> -->
      <!-- <ion-icon name="grid-outline"></ion-icon>
			 -->
      <img src="assets/images/dashboard-icon.png" width="25px" />
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
