<ion-header class="bg_transparent">
  <ion-toolbar>
    <div class="left-icon" slot="start">
      <!-- <ion-icon
        name="options-outline"
        (click)="gotoSetting()"
        slot="end"
      ></ion-icon> -->
      <ion-icon
        id="backButton"
        name="chevron-back-outline"
        slot="start"
        (click)="goBack()"
      ></ion-icon>
    </div>
    <ion-title> </ion-title>
    <!-- <div class="right-icon" slot="end">
      <ion-icon
        name="options-outline"
        (click)="gotoSetting()"
        slot="end"
      ></ion-icon>
    </div> -->
  </ion-toolbar>
</ion-header>

<ion-content class="" fullscreen >
  <div class="banner">
    <div class="banner_img center_img">
      <img
        src="{{podcast?.image}}"
        class="crop_img"
        onError="src='assets/images/r1.png';"
      />
    </div>
    <div class="banner_details">
      <div class="text_box" *ngIf="!noRecord">
        <h2>{{podcast?.name}}</h2>
        <p>{{podcast?.description}}</p>
      </div>
      <div  class="text_box no-podcast-error" *ngIf="noRecord">
        <h2>No podcasts found.</h2>
      </div>

      <div class="playlist-song">
        <ion-item
          *ngFor="let song of songs; let i = index;"
        >
          <div class="item_container d-flex">
            <ion-row>
              <ion-col size="2" (click)="playSong(song, i)">
                <div class="img_container">
                  <div class="img_box center_img">
                    <img
                      src="{{song.image}}"
                      class="crop_img"
                      onError="this.onerror=null;this.src='assets/images/r1.png';"
                    />
                  </div>
                </div>
              </ion-col>
              <ion-col size="9" (click)="playSong(song, i)">
                <div class="item_detail">
                  <h2>{{song?.post_title}}</h2>
                  <h5 class="d-flex">{{song?.authorName}}</h5>
                </div>
              </ion-col>
              <ion-col size="1">
                <ion-icon
                *ngIf="song?.isAddedToPlaylist == 'no'"
                class="zmdi zmdi-plus-circle-o end ion-text-end"
                (click)="addToPlaylist(song)"
              ></ion-icon>
              <ion-icon
                *ngIf="constants.currentSong.ID !== song.ID && song?.isAddedToPlaylist == 'yes'"
                class="zmdi zmdi-minus-circle-outline end ion-text-end"
                (click)="addToPlaylist(song)"
              ></ion-icon>
              </ion-col>
            </ion-row>
          </div>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>
