ion-header ion-toolbar ion-title {
	span {

		&.ion-float-end {
			background: var(--primary);
			border-radius: 50px;
			font-size: 1.1rem;
			font-weight: 500;
			min-width: 101px;
			text-align: center;
			height: 35px;
			line-height: 35px;
			margin-top: 13px;
		}
	}
}

ion-list {
	background: var(--transparent) !important;
	padding: 0 13px;
	padding-top: 28px;

	ion-row {
		ion-col {
			padding: 13px 10px !important;

			ion-item {
				--background: var(--transparent) !important;
				--padding-start: 0;
				--inner-padding-end: 0px;
				--inner-min-height: unset !important;
				position: relative;
				overflow: hidden;
				width: 100%;
				border-radius: 7px;

				ion-label {
					margin: 0;
					color: var(--white);
					top: 0;
					left: 0;
					bottom: 0;
					border-left-width: 0;
					width: 100%;
					height: 100%;
					text-align: center;
					font-size: 1.1rem;
					z-index: 1;

					.img_box {
						width: 68px;
						height: 68px;
						border-radius: 7px;
						margin: 0 auto;
						margin-bottom: 9px;

						ion-icon {
							position: absolute;
							color: var(--white) !important;
							z-index: 99;
							//right: 9px;
							right: -9px;
							bottom: -10px;
							//bottom: 4px;
							font-size: 1.3rem;
							transition: all .4s;

						}

						&::after,
						&::before {
							content: '';
							position: absolute;
							right: -100%;
							bottom: -100%;
							width: 95%;
							height: 105%;
							background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(76, 14, 13, 0) 33%, rgba(230, 43, 38, 0.89) 100%);
							transition: all .3s;
							z-index: 2;
							//transform: rotate(18deg);
						}
					}

					h2 {
						margin: 0;
						color: var(--white);
						font-size: .7rem;
						transition: all .5s;
					}
				}

				ion-checkbox {
					margin: 0;
					--size: 0px;
				}

				&.item-checkbox-checked {
					ion-label {
						color: var(--primary);
						font-weight: 600;

						.img_box {

							&::after,
							&::before {
								right: -0px;
								bottom: -0px;
								transition: all .3s;
							}

							ion-icon {
								right: 9px;
								bottom: 4px;
								transition: all .4s;
							}
						}

						h2 {
							color: var(--primary);
							transition: all .5s;
							font-weight: 600;
						}
					}


				}
			}
		}
	}
}

ion-footer {
	.button.btn {
		--border-radius: 50px !important;
		max-width: calc(100% - 90px);
		margin: 0 auto;
		display: block;
		margin-bottom: 30px;
	}
}