ion-header ion-toolbar ion-title {
	padding: 0 15px !important;
}

ion-list {
	background: var(--transparent) !important;
	padding: 0 10px;
	padding-top: 20px;

	ion-row {
		ion-col {
			padding: 10px 10px !important;

			ion-item {
				--background: var(--transparent) !important;
				--padding-start: 0;
				--inner-padding-end: 0px;
				--inner-min-height: unset !important;
				position: relative;
				overflow: hidden;
				width: 100%;
				height: 70px;
				border-radius: 7px;

				&::after,
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
					background: var(--secondary);
					margin: auto;
					transition: all .3s;
					border-radius: 7px;
				}

				&::after {
					background: var(--white);
					width: 0%;
					height: 0%;
				}

				ion-label {
					margin: 0;
					color: var(--white);
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					border-left-width: 0;
					width: 100%;
					height: 100%;
					line-height: 70px;
					text-align: center;
					font-size: 1.1rem;
					z-index: 1;

				}

				ion-checkbox {
					margin: 0;
					--size: 0px;
				}

				&.item-checkbox-checked {
					ion-label {
						color: var(--primary);
						font-weight: 600;
						transition: all .3s;
					}

					&::before {
						width: 0%;
						height: 0%;
						transition: all .3s;
					}

					&::after {
						width: 100%;
						height: 100%;
						transition: all .3s;
					}
				}
			}
		}
	}
}

ion-footer {
	.button.btn {
		--border-radius: 50px !important;
		max-width: calc(100% - 90px);
		margin: 0 auto;
		display: block;
		margin-bottom: 30px;
	}
}