<ion-header>
	<ion-toolbar>
		<!--
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
-->
		<ion-title>{{'choose_language' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
	<ion-list lines="none">
		<ion-row>
			<ion-col *ngFor="let language of languages" size="6">
				<ion-item (click)="onLanguageClick(language)">
					<ion-label>{{language.name}}</ion-label>
					<ion-checkbox slot="end" [checked]="language.code == defaultLanguageCode"></ion-checkbox>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-list>
</ion-content>

<ion-footer class="ion-no-border">
	<ion-button size="large" class="btn" (click)="languageConfirm()">{{'next' | translate}}</ion-button>
</ion-footer>