<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-title>
			<span class="ion-float-start" (click)="dismiss()">
				<ion-icon class="zmdi zmdi-close ion-text-start"></ion-icon>
			</span>

			<span class="story_title">
				Ad Sheeck
			</span>
		</ion-title>
	</ion-toolbar>
<!--
	<div class="progress_bar_container">
		<div class="progress_bar">
			<div class="progress_bar_active" width="50%"></div>
		</div>
	</div>
-->
</ion-header>

<ion-content class="bg_color" fullscreen>
	<div class="container center_img">
		<img src="assets/images/story.png" class="crop_img">
	</div>
</ion-content>