ion-header {
	ion-toolbar {
		position: absolute;
		width: 100%;
		top: 0;
		z-index: 999;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
			opacity: .5;
		}

		.story_title {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: calc(100% - 100px);
			margin: 0 auto;
			text-align: center;
			font-size: 1rem;
			font-weight: 500;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		ion-title {
			span {
				ion-icon {
					font-size: 2rem;
					position: relative;
					top: 8px;
					text-align: center !important;
				}
			}
		}
	}

	.progress_bar_container {
		position: absolute;
		top: 53px;
		left: 0;
		width: 100%;

		.progress_bar {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 2px;
			border-radius: 2px;
			margin: 0 20px;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: var(--dark);
				opacity: .3;
			}

			.progress_bar_active {
				position: absolute;
				top: 0;
				left: 0;
				overflow: hidden;
				height: 100%;
				z-index: 999;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: var(--primary);
					//opacity: .3;
				}
			}

		}
	}
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

}