<ion-header class="bg_transparent">
  <ion-toolbar>
    <ion-title>
      <span class="ion-float-start" (click)="dismiss()">
        <ion-icon
          class="zmdi zmdi-chevron-down ion-text-start playsong-header-icon"
        ></ion-icon>
      </span>
      <span class="ion-float-end">
        <ion-icon
          class="zmdi zmdi-more ion-text-end playsong-header-icon"
          (click)="option(currentSong, currentSongIndex)"
        ></ion-icon>
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="" fullscreen [ngClass]="fabAction ? 'active' : ''">
  <!-- <iframe id="playbtn" *ngIf="isSpotifyUrl" [src]="currentSong?.songUrl" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> -->

  <iframe
    *ngIf="isSpotifyUrl"
    id="playbtn"
    [src]="currentSong?.songUrl"
    width="100%"
    height="250"
    frameborder="0"
    allowtransparency="true"
    allow="encrypted-media"
  ></iframe>

  <div class="banner" [ngClass]="isSpotifyUrl ? 'spotify_banner' : ''">
    <div class="banner_img center_img">
      <!-- <img
        src="{{currentSong?.image}}"
        class="crop_img"
        onError="this.onerror=null;this.src='assets/images/r1.png';"
	  /> -->
      <img
        [src]="currentSong.image"
        class="crop_img"
        onError="src = 'assets/images/r1.png'"
      />
    </div>
    <div class="banner_details">
      <div class="text_box">
        <h2>{{currentSong?.post_title}}</h2>
        <!-- <p>Pandora Sykes and Dolly Alderton</p> -->
      </div>
      <ion-row>
        <ion-col size="2" class="ion-text-start">
          <ion-icon
            [ngClass]="liked ? 'zmdi zmdi-favorite liked-song' : 'zmdi zmdi-favorite-outline disliked-song'"
            (click)="likeUnlikeSong()"
          ></ion-icon>
        </ion-col>

        <ion-col size="8" class="play_push_btn_box d-flex">
          <!-- <ion-icon
            class="zmdi zmdi-fast-rewind ion-text-start"
            (click)="prevSong()"
            *ngIf="constants?.currentSongIndex > 0"
          ></ion-icon> -->
          <ion-icon
            class="zmdi zmdi-fast-rewind ion-text-start"
            (click)="prevSong()"
            *ngIf="constants.songList.length > 1"
          ></ion-icon>

          <!-- <div class="player-loading" *ngIf="!isPlaying">
            <ion-spinner name="bubbles"></ion-spinner>
          </div> -->

          <div class="play_btn_loader" *ngIf="!isSpotifyUrl">
            <ion-spinner
              name="bubbles"
              *ngIf="!isPlaying && !isSpotifyUrl"
            ></ion-spinner>
            <div class="play_btn_loader_inner" (click)="playSong()">
              <!--  -->
              <ion-icon
                id="playBtn"
                name="play-sharp"
                *ngIf="isPlaying && !constants.play && !isSpotifyUrl"
                style="width: 55%"
              ></ion-icon>
            </div>
            <div class="play_btn_loader_inner" (click)="pauseSong()">
              <ion-icon
                id="pauseBtn"
                name="pause-sharp"
                *ngIf="isPlaying && constants.play && !isSpotifyUrl"
              ></ion-icon>
            </div>
            <!--  -->

            <!--  -->
            <ion-icon
              id="play1Btn"
              name="play-sharp"
              (click)="playSong()"
              style="display: none"
            ></ion-icon>

            <ion-icon
              id="pause1Btn"
              name="pause-sharp"
              (click)="pauseSong()"
              style="display: none"
            ></ion-icon>
            <!--  -->
          </div>

          <ion-icon
            class="zmdi play_push_btn blank-icon"
            *ngIf="isSpotifyUrl"
          ></ion-icon>

          <!-- <ion-icon
            #nextBtn
            id="nextBtn"
            class="zmdi zmdi-fast-forward ion-text-end end"
            (click)="nextSong()"
            *ngIf="constants?.currentSongIndex < (constants?.songList.length - 1)"
          ></ion-icon> -->
          <ion-icon
            #nextBtn
            id="nextBtn"
            class="zmdi zmdi-fast-forward ion-text-end end"
            (click)="nextSong()"
            *ngIf="constants.songList.length > 1"
          ></ion-icon>
        </ion-col>

        <ion-col size="2" class="ion-text-end">
          <!-- <ion-icon class="zmdi zmdi-playlist-audio"></ion-icon> -->
        </ion-col>
      </ion-row>

      <!-- <p>{{isPlaying}}</p> -->

      <div class="song_time_seeking" *ngIf="!isSpotifyUrl && !isPlayingFirst">
        <h3 class="d-flex">
          00:00
          <span class="end"> 00:00 </span>
        </h3>
        <ion-range min="0.00" max="0.00" step="0.01" value="0.00"></ion-range>
      </div>

      <div class="song_time_seeking" *ngIf="!isSpotifyUrl && isPlayingFirst">
        <h3 class="d-flex">
          {{secondsToHms(displayCurrentDur)}}
          <span class="end"> {{secondsToHms(displayDur)}} </span>
        </h3>
        <ion-range
          #seekrange
          min="0.00"
          max="{{songLength}}"
          step="0.01"
          [(ngModel)]="currentDuration"
          (ionChange)="seekSongTo($event.target)"
        ></ion-range>
      </div>

      <div class="share-btn" id="doNothingButton" (click)="doNothing()">
        <!-- <img src="assets/images/share-btn.png" width="200px" (click)="share()" /> -->
      </div>
    </div>
  </div>
</ion-content>

<ion-footer
  no-border
  [ngClass]="fabAction ? (isSpotifyUrl ? 'playsong-footer active spotify-footer' : 'playsong-footer active') : 'playsong-footer'"
>
  <div class="header" (click)="toggleFab()"></div>
  <h4 class="d-flex">
    {{'coming_up_next' | translate}}
    <span class="end" (click)="shuffle()" *ngIf="comingUpnext.length > 1"
      >{{'shuffle' | translate}}
      <ion-icon class="zmdi zmdi-shuffle ion-text-end"></ion-icon
    ></span>
  </h4>
  <ion-list lines="none" id="playsong-page-list">
    <ion-item
      *ngFor="let next of constants.songList; let i = index;"
      (click)="playNextSong(next, i)"
      [ngClass]="constants.currentSong.ID == next.ID ? 'active-comingupnext' : ''"
    >
      <div class="item_container d-flex">
        <div class="img_container">
          <div class="img_box center_img">
            <!-- <ion-icon name="play-sharp"></ion-icon> -->
            <img
              [src]="next.image"
              class="crop_img"
              onError="this.onerror=null;this.src='assets/images/r1.png';"
            />
          </div>
        </div>

        <div class="item_detail">
          <h2>
            <span>{{next?.post_title}}</span>
            <img
              *ngIf="constants.currentSong.ID == next.ID"
              src="assets/images/sound.gif"
              style="width: 10%; float: right"
            />
          </h2>

          <h5 class="d-flex">
            {{next?.authorName}}
            <!-- <ion-icon
              (click)="option(next, i)"
              class="zmdi zmdi-more end ion-text-end"
              style="margin-right: 0px !important"
            ></ion-icon> -->
          </h5>
        </div>
      </div>
    </ion-item>
    <!-- <div class="playall-btn" *ngIf="comingUpnext.length < constants.songList.length">
      <ion-button (click)="loadMore()">Load more</ion-button>
    </div> -->
  </ion-list>
</ion-footer>
