ion-header {
  ion-toolbar {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 999;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      opacity: 0.5;
    }

    ion-title {
      span {
        ion-icon {
          font-size: 2rem;
          position: relative;
          top: 8px;
          text-align: center !important;
        }
      }
    }
  }
}

ion-content {
  .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: calc(100% - 144.8px);
    height: 80%;
    overflow: hidden;
    // background: var(--bg-color);

    .banner_img {
      width: 100%;
      // height: calc(100% - 157px);
      // height:calc(100% - 290px);
      height: calc(100% - 159px);
      transition: all 0.3s;
	//   background: #6c5241;
	  background: #1f1e1e82;
      img {
        max-width: unset;
        width: 100%;
        transition: all 0.3s;
      }
    }

    .banner_details {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 22px;
      z-index: 9;

      h6 {
        color: var(--white);
        border-radius: 50px;
        border: 1px solid var(--white);
        margin: 0 auto;
        width: fit-content;
        font-size: 0.85rem;
        padding: 0 18px;
        line-height: 34px;
        margin-bottom: 10px;
        letter-spacing: 0.5px;
        overflow: hidden;
        position: relative;
        display: none;
        transition: all 0.3s;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: var(--white);
          opacity: 0.1;
        }
      }

      .lyrics {
        margin-bottom: 25px;
        transition: all 0.3s;

        h5 {
          margin: 0;
          text-align: center;
          color: var(--gray);
          font-size: 1.1rem;
          font-weight: 500;
          line-height: 27px;

          &.active {
            color: var(--white);
          }
        }
      }

      .text_box {
        width: 100%;
        text-align: center;
        margin-bottom: 17px;

        h2 {
          margin: 0;
          // color: var(--white);
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 7px;
        }

        p {
          margin: 0;
          color: var(--gray);
          font-size: 0.85rem;
          font-weight: 500;
        }
      }

      ion-row {
        align-items: center;
        padding: 0 10px;

        ion-col {
          line-height: 50%;

          ion-icon {
            // color: var(--white);
            margin: 0;
            font-size: 1.6rem;

            &.zmdi-playlist-audio {
              position: relative;
              top: 1px;
            }
          }

          &.play_push_btn_box {
            ion-icon {
              // display: block;
              font-size: 2rem;

              &.play_push_btn {
                border-radius: 50%;
                width: 68px;
                height: 68px;
                line-height: 68px;
                // line-height: 65px;
                font-size: 4.8rem;
                text-align: center;
                margin: 0 auto;
                overflow: hidden;
                color: var(--primary);

                &::after {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  margin: auto;
                  width: 55px;
                  height: 55px;
                  background: var(--white);
                  border-radius: 50%;
                  z-index: -1;
                }
              }
            }
          }
        }
      }
	  .blank-icon::after {
		  background: transparent !important;
	  }
      .song_time_seeking {
        padding-top: 20px;
        margin-bottom: 10px;
        h3 {
          margin: 0;
          // color: var(--gray);
          // opacity: .7;
          font-size: 0.9rem;
          font-weight: 400;
          margin: 0;
          padding: 0 15px;
        }

        .seeking {
          position: relative;
          width: calc(100% - 0px);
          height: 1px;
          margin: 0 auto;
          overflow: hidden;
          background: var(--dark);
          z-index: 99;

          .seeking_activated {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: var(--primary);
          }
        }

        ion-range {
          --bar-background: var(--secondary);
          --bar-background-active: linear-gradient(
            90deg,
            #fb0051 0%,
            #b7009a 60%,
            #8a00ca 100%
          );
          // --knob-background: var(--primary);
          --knob-background: linear-gradient(
            90deg,
            #fb0051 0%,
            #b7009a 60%,
            #8a00ca 100%
          );
          padding-top: 0;
          padding-bottom: 0;
          --knob-size: 20px;
        }
      }
      .share-btn {
        margin: 48px;
        text-align: center;
        .share_btn {
          border: 1px solid #ddd;
          --background: #fff;
          --background-activated: #fff;
          color: #222;
          width: 200px;
          height: 50px;
          img {
            position: absolute;
            left: 0px;
          }
        }
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 156px;
      left: 0;
      width: 100%;
      height: 263px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #fff 100%);
    }

    &::before {
      bottom: 0;
      // background: var(--bg-color);
      height: 50px;
      z-index: 7;
      bottom: 82px;
      height: 81px;
      transition: all 0.1s;
    }
  }

  &.active {
    transition: all 0.3s;

    .banner {
      //			&::before{
      //				bottom: 82px;
      //				height: 81px;
      //					transition: all .1s;
      //			}
      .banner_details {
        .lyrics {
          display: none;
          transition: all 0.3s;
        }

        h6 {
          display: block;
          transition: all 0.3s;
        }
      }

      .banner_img {
        // height: calc(100% - 85px);
        transition: all 0.3s;

        img {
          width: 100%;
          transition: all 0.3s;
        }
      }
    }
  }
}

ion-footer {
  // background: var(--dark);
  background: #fff;
  border-radius: 27px 27px 0 0;
  overflow: hidden;
  transition: all 0.3s;

  .header {
    display: block;
    width: 100%;
    height: 38px;
    position: relative;
    // background: var(--dark);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border-radius: 5px;
      width: 60px;
      height: 6px;
      background: #222;
      opacity: 0.9;
    }
  }

  h4 {
    margin: 0;
    // color: var(--text-light);
    color: #222;
    font-size: 1rem;
    font-weight: 500;
    padding: 0px 20px;
    margin-bottom: 10px;

    span {
      display: flex;
      align-items: center;

      ion-icon {
        // color: var(--white);
        font-size: 1.3rem;
        min-width: 29px;
      }
    }
  }

  ion-list {
    // background: var(--transparent) !important;
    height: 76px;
    overflow: hidden;
    transition: all 0.3s;

    ion-item {
      margin-bottom: 18px;
      --background: var(--transparent) !important;
      --padding-start: 0;
      --inner-padding-end: 0px;
      --inner-min-height: unset !important;
      position: relative;
      overflow: hidden;
      width: 100%;
      // border-radius: 7px;

      .item_container {
        padding: 0 20px;

        .img_container {
          width: 43px;
          min-width: 43px;
          height: 43px;
          // border-radius: 7px;
          margin-right: 20px;
          position: relative;
          background: var(--light);
          overflow: hidden;

          ion-icon {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 40px;
            // color: var(--white);
            font-size: 1.5rem;
          }

          .img_box {
            width: 100%;
            height: 100%;
          }
        }

        .item_detail {
          width: 100%;
          //	padding-top: 5px;

          h2 {
            margin: 0;
            // color: var(--white);
            font-weight: 500;
            font-size: 1.1rem;
            margin-bottom: 0px;
          }

          h5 {
            color: var(--text-light);
            margin: 0;
            font-size: 0.84rem;
            font-weight: 400;

            ion-icon {
              // color: var(--white);
              font-size: 1.65rem;
              height: 17px;
              line-height: 17px;
            }
          }
        }
      }
    }
  }

  &.active {
    ion-list {
      height: 309px;
      overflow-y: scroll;
      transition: all 0.3s;
    }
  }
}

.liked-song {
  color: #e62b26;
}

#playbtn {
  width: 100%;
  position: absolute;
  z-index: 999999;
  top: 8%;
}


.playsong-header-icon {
	background: #e62b26b3;
    border-radius: 50px;
    color: #fff;
    opacity: 1;
}

// .active-comingupnext {
//   // border: 1px solid #e76868;
//   // background: #e6676761;
//   // // border-image-source: linear-gradient( 90deg, #fb0051 0%, #b7009a 60%, #8a00ca 100% );
//   // padding: 10px 0px;
// }

// .player-loading {
//   height: 60px;
//   background: #e62b26;
//   color: #fff;
//   width: 60px;
//   text-align: center;
//   border-radius: 50%;
//   margin: 0px 30px;
//   ion-spinner {
//     color: #fff;
//     top: 22%;
//   }
// }

.play_btn_loader {
  border-radius: 50%;
  width: 68px;
  height: 68px;
  // line-height: 84px;
  // font-size: 4.8rem;
  position: relative;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  background: var(--primary);
  ion-spinner {
    color: #fff;
    height: 68px !important;  
    // top: 8%;
  }
  ion-icon{
    color: #fff;
    font-size: 28px;
    position: absolute;
    top: 25%;
    left: 27%;
    // vertical-align: sub;
  }
}

.play_btn_loader_inner {
  width: 68px;
  height: 68px;
}


@media screen and (max-width: 320px) {
  .player-loading {
    height: 60px;
    background: #e62b26;
    color: #fff;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    margin: 0px 14px;
    ion-spinner {
      color: #fff;
      top: 22%;
    }
  }
}


@media screen and (max-height: 670px) {
  ion-footer {
    // background: var(--dark);
    background: #fff;
    border-radius: 27px 27px 0 0;
    overflow: hidden;
    transition: all 0.3s;
  
    .header {
      display: block;
      width: 100%;
      height: 38px;
      position: relative;
      // background: var(--dark);
  
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 5px;
        width: 60px;
        height: 6px;
        background: #222;
        opacity: 0.9;
      }
    }
  
    h4 {
      margin: 0;
      // color: var(--text-light);
      color: #222;
      font-size: 1rem;
      font-weight: 500;
      padding: 0px 20px;
      margin-bottom: 10px;
  
      span {
        display: flex;
        align-items: center;
  
        ion-icon {
          // color: var(--white);
          font-size: 1.3rem;
          min-width: 29px;
        }
      }
    }
  
    ion-list {
      // background: var(--transparent) !important;
      height: 76px;
      overflow: hidden;
      transition: all 0.3s;
  
      ion-item {
        margin-bottom: 18px;
        --background: var(--transparent) !important;
        --padding-start: 0;
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        position: relative;
        overflow: hidden;
        width: 100%;
        // border-radius: 7px;
  
        .item_container {
          padding: 0 20px;
  
          .img_container {
            width: 43px;
            min-width: 43px;
            height: 43px;
            // border-radius: 7px;
            margin-right: 20px;
            position: relative;
            background: var(--light);
            overflow: hidden;
  
            ion-icon {
              position: absolute;
              left: 0;
              right: 0;
              width: 100%;
              height: 100%;
              text-align: center;
              line-height: 40px;
              // color: var(--white);
              font-size: 1.5rem;
            }
  
            .img_box {
              width: 100%;
              height: 100%;
            }
          }
  
          .item_detail {
            width: 100%;
            //	padding-top: 5px;
  
            h2 {
              margin: 0;
              // color: var(--white);
              font-weight: 500;
              font-size: 1.1rem;
              margin-bottom: 0px;
            }
  
            h5 {
              color: var(--text-light);
              margin: 0;
              font-size: 0.84rem;
              font-weight: 400;
  
              ion-icon {
                // color: var(--white);
                font-size: 1.65rem;
                height: 17px;
                line-height: 17px;
              }
            }
          }
        }
      }
    }
  
    &.active {
      ion-list {
        height: 250px;
        overflow-y: scroll;
        transition: all 0.3s;
      }
    }
  }
}
ion-footer.spotify-footer{
  &.active {
    ion-list {
      height:170px;
      overflow-y: scroll;
      transition: all 0.3s;
    }
  }
}

@media screen and (max-height: 570px) {
  ion-footer {
    // background: var(--dark);
    background: #fff;
    border-radius: 27px 27px 0 0;
    overflow: hidden;
    transition: all 0.3s;
  
    .header {
      display: block;
      width: 100%;
      height: 38px;
      position: relative;
      // background: var(--dark);
  
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 5px;
        width: 60px;
        height: 6px;
        background: #222;
        opacity: 0.9;
      }
    }
  
    h4 {
      margin: 0;
      // color: var(--text-light);
      color: #222;
      font-size: 1rem;
      font-weight: 500;
      padding: 0px 20px;
      margin-bottom: 10px;
  
      span {
        display: flex;
        align-items: center;
  
        ion-icon {
          // color: var(--white);
          font-size: 1.3rem;
          min-width: 29px;
        }
      }
    }
  
    ion-list {
      // background: var(--transparent) !important;
      height: 76px;
      overflow: hidden;
      transition: all 0.3s;
  
      ion-item {
        margin-bottom: 18px;
        --background: var(--transparent) !important;
        --padding-start: 0;
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        position: relative;
        overflow: hidden;
        width: 100%;
        // border-radius: 7px;
  
        .item_container {
          padding: 0 20px;
  
          .img_container {
            width: 43px;
            min-width: 43px;
            height: 43px;
            // border-radius: 7px;
            margin-right: 20px;
            position: relative;
            background: var(--light);
            overflow: hidden;
  
            ion-icon {
              position: absolute;
              left: 0;
              right: 0;
              width: 100%;
              height: 100%;
              text-align: center;
              line-height: 40px;
              // color: var(--white);
              font-size: 1.5rem;
            }
  
            .img_box {
              width: 100%;
              height: 100%;
            }
          }
  
          .item_detail {
            width: 100%;
            //	padding-top: 5px;
  
            h2 {
              margin: 0;
              // color: var(--white);
              font-weight: 500;
              font-size: 1.1rem;
              margin-bottom: 0px;
            }
  
            h5 {
              color: var(--text-light);
              margin: 0;
              font-size: 0.84rem;
              font-weight: 400;
  
              ion-icon {
                // color: var(--white);
                font-size: 1.65rem;
                height: 17px;
                line-height: 17px;
              }
            }
          }
        }
      }
    }
  
    &.active {
      ion-list {
        height: 170px;
        overflow-y: scroll;
        transition: all 0.3s;
      }
    }
  }
}

@media screen and (max-width:360px){
  ion-footer.spotify-footer{
    &.active {
      ion-list {
        height:100px;
        overflow-y: scroll;
        transition: all 0.3s;
      }
    }
   ion-list  {
        ion-item {
            .item_container {
              .item_detail {
                h2{
                    margin: 0;
                    font-weight: 500;
                    font-size: 1rem;
                    margin-bottom: 0px;
                }
              }
            }
          }
      }
  }
  ion-content{
    .spotify_banner{
       height:88%;
    }
    #playbtn{
          top: 10%;
          width: 95%;
          margin-left: 9px;
      }
  }
 
}

@media only screen and (min-width: 360px)  and (max-width: 370px) and (min-height: 690px)  and (max-height: 700px)  {
  .play_btn_loader {
    ion-icon {
      top: 29% !important;
      left: 29% !important;
    }
  }
}