ion-header {
	background: var(--bg-color);

	ion-toolbar {
		position: absolute;
		width: 100%;
		top: 0;
		z-index: 999;

		ion-title {
			span {
				ion-icon {
					font-size: 2rem;
					position: relative;
					top: 8px;
					text-align: center !important;
				}
			}
		}
	}

	.banner {
		position: relative;
		width: 100%;
		height: 340px;
		overflow: hidden;
		background: var(--bg-color);
		margin-bottom: 5px;

		.banner_img {
			width: 100%;
			height: 340px;

		}

		.banner_details {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 0 12px;
			z-index: 999;

			.text_box {
				width: 100%;
				text-align: center;
				margin-bottom: 17px;

				h2 {
					margin: 0;
					color: var(--white);
					font-size: 1.65rem;
					font-weight: 600;
					margin-bottom: 7px;

				}

				p {
					margin: 0;
					color: var(--gray);
					font-size: .85rem;
					font-weight: 500;
				}
			}

			ion-row {
				ion-col {
					padding: 5px 8px !important;
				}
			}

			.button.btn {
				--border-radius: 50px !important;
				height: 49px;
				margin: 0 auto !important;
				display: block;

				&.following {
					--border-color: var(--white) !important;
				}
			}
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			bottom: 49px;
			left: 0;
			width: 100%;
			height: 140px;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(10, 11, 15, 1) 100%);
		}

		&::before {
			bottom: 0;
			background: var(--bg-color);
			height: 50px;
			z-index: 11;
		}

	}

	ion-segment {
		border: none !important;
		position: relative;
		min-height: 56px;

		ion-segment-button {
			background: none !important;
			position: relative;
			font-size: 1.1rem;
			font-weight: 500;
			color: var(--text-light) !important;
			text-transform: unset !important;
			letter-spacing: 0;
			--color-checked: var(--transparent) !important;
			text-align: justify !important;

			ion-label {
				position: relative;
				margin-bottom: 0;

			}

			&::before {
				content: '';
				position: absolute;
				bottom: 0px;
				right: 0;
				left: 0;
				margin: 0 auto;
				height: 4px;
				transition: all .3s;
				width: 0;
				background: var(--primary);
				border-radius: 50px;
			}

			&.segment-button-checked {
				color: var(--white) !important;

				&::before {
					width: 75px;
					transition: all .3s;
				}
			}

		}

	}
}

ion-list {
	background: var(--transparent) !important;
	padding-top: 31px;

	ion-item {
		margin-bottom: 18px;
		--background: var(--transparent) !important;
		--padding-start: 0;
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		position: relative;
		overflow: hidden;
		width: 100%;
		border-radius: 7px;

		.item_container {
			padding: 0 20px;

			.img_container {
				width: 43px;
				min-width: 43px;
				height: 43px;
				border-radius: 7px;
				margin-right: 20px;
				position: relative;
				background: var(--light);
				overflow: hidden;

				ion-icon {
					position: absolute;
					left: 0;
					right: 0;
					width: 100%;
					height: 100%;
					text-align: center;
					line-height: 40px;
					color: var(--white);
					font-size: 1.5rem;
				}

				.img_box {
					width: 100%;
					height: 100%;
				}
			}

			.item_detail {
				width: 100%;
				//	padding-top: 5px;

				h2 {
					margin: 0;
					color: var(--white);
					font-weight: 500;
					font-size: 1.1rem;
					margin-bottom: 0px;
				}

				h5 {
					color: var(--text-light);
					margin: 0;
					font-size: .84rem;
					font-weight: 400;

					ion-icon {
						color: var(--white);
						font-size: 1.65rem;
						height: 17px;
						line-height: 17px;

					}
				}
			}
		}
	}

	.container {
		padding: 0 20px;

		.text-box {
			padding-bottom: 10px;
			h2 {
				margin: 0;
				color: var(--white);
				font-weight: 500;
				font-size: 1.1rem;
				margin-bottom: 11px;
			}

			p {
				color: var(--text-light);
				margin: 0;
				font-size: .84rem;
				font-weight: 400;
				margin-bottom: 11px;
			}
		}

	}
}