<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'sign_up' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg_img">
  <div class="banner ion-text-center">
    <img src="assets/images/logo.png" />
  </div>
  <form [formGroup]="registerForm" autocomplete="off" autofill="off">
    <div class="form">
      <ion-list lines="none">
        <!-- <ion-item lines="none" class="ion-no-padding">
          <ion-icon name="person-outline"></ion-icon>
          <ion-input
            type="Text"
            formControlName="username"
            placeholder="{{'username' | translate}}"
          ></ion-input>
        </ion-item>
        <p
          class="login-error error"
          *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched"
        >
          Username is required
        </p> -->

        <ion-item lines="none" class="ion-no-padding">
          <!-- <ion-icon class="zmdi zmdi-email ion-text-start" slot="start"></ion-icon> -->
          <ion-icon name="person-outline"></ion-icon>
          <ion-input
            type="Text"
            formControlName="display_name"
            placeholder="Full Name"
          ></ion-input>
        </ion-item>
        <p
          class="login-error error"
          *ngIf="registerForm.get('display_name').hasError('required') && registerForm.get('display_name').touched"
        >
          Fullname is required
        </p>

        <p
        class="login-error error"
        *ngIf="registerForm.get('display_name').value.length<3 && registerForm.get('display_name').touched"
      >
      Fullname must be 3 characters long.
      </p> 

        <ion-item lines="none" class="ion-no-padding">
          <!-- <ion-icon name="paper-plane-outline"></ion-icon> -->
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input
            type="email"
            formControlName="email"
            placeholder="{{'email_address' | translate}}"
          ></ion-input>
        </ion-item>
        <p
          class="login-error error"
          *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched"
        >
          Email is required
        </p>
        <p
          class="login-error error"
          *ngIf="!registerForm.get('email').hasError('required') && registerForm.get('email').hasError('email') && registerForm.get('email').touched"
        >
          Please enter a valid email
        </p>

        <ion-item lines="none">
          <!-- <ion-icon class="zmdi zmdi-lock ion-text-start" slot="start"></ion-icon> -->
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input
            type="password"
            formControlName="user_pass"
            placeholder="{{'password' | translate}}"
          ></ion-input>
        </ion-item>
        <p
          class="login-error error"
          *ngIf="registerForm.get('user_pass').hasError('required') && registerForm.get('user_pass').touched"
        >
          Passowrd is required
        </p>
        <p
        class="login-error error"
        *ngIf="registerForm.get('user_pass').value.length<6 && registerForm.get('user_pass').touched"
      >
        Password must be 6 characters long.
      </p>

        <ion-item lines="none">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input
            type="password"
            formControlName="cpassword"
            placeholder="{{'confirm_password' | translate}}"
          ></ion-input>
        </ion-item>
        <p
          class="login-error error"
          *ngIf="registerForm.get('cpassword').hasError('required') && registerForm.get('cpassword').touched"
        >
          Confirm password is required
        </p>

        <!-- <p
        class="login-error error"
        *ngIf="registerForm.get('cpassword').value.length<6 && registerForm.get('cpassword').touched"
      >
        Confirm password must be 6 characters long.
      </p> -->

        <ion-button
          size="large"
          class="btn"
          (click)="signup()"
          [disabled]="!registerForm.valid"
          >{{'sign_up' | translate}}</ion-button
        >
        <!-- <ion-button size="large" class="btn" (click)="signup()"
          >{{'sign_up' | translate}}</ion-button
        > -->
      </ion-list>

      <div class="bg-login">
        <div class="social_login">
          <h2>{{'or_continue_with' | translate}}</h2>
          <ion-row>
            <ion-col size="6">
              <ion-button class="btn fb" (click)="facebookLogin()">
                <img slot="start" src="assets/images/fb.png" />
                {{'facebook' | translate}}
              </ion-button>
            </ion-col>

            <ion-col size="6">
              <ion-button class="btn google" (click)="googleLogin()">
                <img slot="start" src="assets/images/google.png" />
                {{'google' | translate}}
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </form>
</ion-content>
