ion-content.bg_img {
	// --background: url(../../assets/images/bg_blur.png) 0 0/100% 100% no-repeat;
}
ion-toolbar{
	--border-width:0 0 0 !important;
}
ion-header ion-toolbar ion-title {
//	padding: 0 15px!important;
	span {
		font-size: 1.3rem;
		font-weight: 500;
	}
}

.banner {
	width: 174px;
	margin: 5% auto 15% auto;
}

ion-list {
	.button.btn {
		--border-radius: 0px !important;
		max-width: calc(100% - 52px) !important;
		margin: 0 auto !important;
		display: block;
		margin-top: 35px !important;
	}
}
.bg-login{
	background: url(../../assets/images/login-bg.png);
	background-position: center;
    background-size: cover;
}
.registered,
.social_login {
	display: block;
	margin-top: 45px;

	h2 {
		// color: var(--white);
		margin: 0;
		text-align: center;
		font-weight: 800;
		font-size: .9rem;
		margin-bottom: 32px;

	}

	ion-row {
		margin: 0 -5px;

		ion-col {
			.button.btn {
				margin: 0;
				--border-radius: 0px !important;
				font-size: .95rem;
				letter-spacing: 0 !important;

				img {
					max-width: 21px;
					position: relative;
					right: 10px;
				}

				&.google {
					--background: var(--white) !important;
					color: #272525 !important;
					font-weight: 600 !important;
					border:2px solid #dedede;
				}

				&.fb {
					--background: #3a559f !important;

				}
			}
		}

	}
}
ion-item{
	height:35px;
	background: linear-gradient(90deg, rgba(251,0,81,1) 0%, rgba(183,0,154,1) 60%, rgba(138,0,202,1) 100%);
    background-size: 100% 1px;
    background-position: bottom 0 left 0,bottom 1px left 0;
    background-repeat: no-repeat;
}
@media (max-width:320px){
	.form ion-item ion-input {
		font-size: 0.8rem !important;
	}
	.button.btn{
		font-size: 0.7rem !important;
	}
}