<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'subscribe' | translate}}</ion-title>
	</ion-toolbar>
	<ion-list lines="none">
		<ion-item>
			<div class="item_container">
				<p class="d-flex">Starter Pack <span class="end">{{'more_info' | translate}} <sub>></sub></span></p>
				<h2 class="d-flex">3 Month <span class="end">$9.99</span></h2>
			</div>
		</ion-item>
	</ion-list>
</ion-header>

<ion-content class="bg_color">
	<div class="container">
		<h2>{{'how_would_you_like_to_pay' | translate}}</h2>
		<div class="payment_option d-flex">
			<div class="img_box center_img">
				<img src="assets/images/paypal.png" class="crop_img">
			</div>
			<h3 class="d-flex">PayPal <ion-icon class="zmdi zmdi-chevron-right end"></ion-icon>
			</h3>
		</div>
		<div class="payment_option d-flex">
			<div class="img_box center_img">
				<img src="assets/images/pau.png" class="crop_img">
			</div>
			<h3 class="d-flex">PayU Money <ion-icon class="zmdi zmdi-chevron-right end"></ion-icon>
			</h3>
		</div>
		<div class="payment_option d-flex">
			<div class="img_box center_img">
				<img src="assets/images/gpay.png" class="crop_img">
			</div>
			<h3 class="d-flex">Google Pay <ion-icon class="zmdi zmdi-chevron-right end"></ion-icon>
			</h3>
		</div>
		<div class="payment_option d-flex">
			<div class="img_box center_img">
				<img src="assets/images/card.png" class="crop_img">
			</div>
			<h3 class="d-flex">Credit Card <ion-icon class="zmdi zmdi-chevron-right end"></ion-icon>
			</h3>
		</div>
		<div class="payment_option d-flex">
			<div class="img_box center_img">
				<img src="assets/images/bank.png" class="crop_img">
			</div>
			<h3 class="d-flex">Bank Transfer <ion-icon class="zmdi zmdi-chevron-right end"></ion-icon>
			</h3>
		</div>
	</div>
</ion-content>
