ion-header {
	background: var(--bg-color) !important;

	ion-list {
		background: var(--transparent) !important;
		width: calc(100% - 40px);
		margin: 0 auto;
		padding-top: 15px;

		ion-item {
			margin-bottom: 12px;
			--background: var(--transparent) !important;
			 background: var(--white) !important;
			--padding-start: 0;
			--inner-padding-end: 0px;
			--inner-min-height: unset !important;
			position: relative;
			overflow: hidden;
			width: 100%;
			border-radius: 7px;

			.item_container {
				width: 100%;
				position: relative;
				z-index: 99;
				color: var(--white);
				padding: 24px 22px;

				p {
					margin: 0;
					text-transform: uppercase;
					font-size: .75rem;
					margin-bottom: 10px;

					span {
						&.end {
							sub {
								font-size: .8rem;
								top: 1px;
							}
						}
					}
				}

				h2 {
					margin: 0;
					text-transform: uppercase;
					font-size: 1.35rem;
					font-weight: 400;

					span {
						&.end {
							font-size: 1.8rem;
							font-weight: 500;
						}
					}
				}
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: var(--primary);

			}
		}
	}
	}

	.container {
		margin: 0 auto;
		width: calc(100% - 40px);
		padding-top: 23px;

		h2 {
			margin: 0;
			color: var(--text-light);
			font-size: 1rem;
			margin-bottom: 25px;

		}

		.payment_option {
			margin-bottom: 44px;

			.img_box {
				width: 75px;
				min-width: 75px;
				height: 38px;
				background: var(--white);
				border-radius: 4px;
				margin-right: 20px
			}

			h3 {
				margin: 0;
				color: var(--white);
				font-size: 1.3rem;
				font-weight: 500;
			}
		}

	}