ion-content {
	--background: rgba(0, 0, 1, 0.58) !important;
}

ion-footer {
	// background: var(--bg-color);
	background: #fff;
	border-radius: 27px 27px 0 0;
	overflow: hidden;

	.header {
		display: block;
		width: 100%;
		height: 40px;
		position: relative;
		// background: var(--dark);

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			border-radius: 5px;
			width: 60px;
			height: 6px;
			background: var(--gray);
			opacity: 0.3;

		}
	}

	.song_detail {
		// background: var(--dark);
		padding: 0 20px 20px 20px;

		.img_box {
			width: 43px;
			min-width: 43px;
			height: 43px;
			border-radius: 7px;
			margin-right: 20px;
		}

		.text_box {
			width: 100%;
			//	padding-top: 5px;

			h2 {
				margin: 0;
				// color: var(--white);
				font-weight: 500;
				font-size: 1.1rem;
				margin-bottom: 3px;
			}

			h5 {
				// color: var(--text-light);
				margin: 0;
				font-size: .84rem;
				font-weight: 400;
			}
		}
	}

	.option_container {
		padding: 17px 20px;

		.song_option {
			padding: 12px 0;

			ion-icon {
				// color: var(--primary);
				color: #380b7b;
				font-size: 1.4rem;
				min-width: 43px;
				margin-right: 20px;

			}

			h2 {
				margin: 0;
				// color: var(--white);
				font-weight: 500;
				font-size: 1rem;
				letter-spacing: .5px;

			}
		}
	}
}

.liked-filled-song {
	color: #e62b26 !important;
}