ion-list {
	background: var(--transparent) !important;
	width: calc(100% - 40px);
	margin: 0 auto;
	padding-top: 20px;

	ion-item {
		margin-bottom: 12px;
		--background: var(--transparent) !important;
		 background: var(--white) !important;
		--padding-start: 0;
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		position: relative;
		overflow: hidden;
		width: 100%;
		border-radius: 4px;

		.item_container {
			width: 100%;
			position: relative;
			z-index: 99;
			color: var(--white);
			padding: 24px 22px;

			p {
				margin: 0;
				text-transform: uppercase;
				font-size: .75rem;
				margin-bottom: 10px;

				span {
					&.end {
						sub {
							font-size: .8rem;
							top: 1px;
						}
					}
				}
			}

			h2 {
				margin: 0;
				text-transform: uppercase;
				font-size: 1.35rem;
				font-weight: 400;

				span {
					&.end {
						font-size: 1.8rem;
						font-weight: 500;
					}
				}
			}
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--primary);

		}

		&:first-child {
			border-radius: 7px;

		}

		&:nth-child(2) {
			&::after {
				opacity: .8;
			}

		}

		&:nth-child(3) {
			&::after {
				opacity: .6;
			}

		}
	}
}

.subscription_allows {
	width: calc(100% - 40px);
	margin: 0 auto;
	padding-top: 31px;

	h2 {
		margin: 0;
		color: var(--text-light);
		font-size: 1rem;
		margin-bottom: 35px;

	}

	p {
		margin: 0;
		color: var(--white);
		font-size: .9rem;
		font-weight: 500;
		letter-spacing: .5px;
		margin-bottom: 28px;

		ion-icon {
			color: var(--primary);
			font-size: 1.1rem;
			min-width: 35px;
		}
	}
}