<ion-header class="bg_transparent">
	<ion-toolbar>
	<ion-buttons slot="start">
			<ion-back-button  text=""  icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<span class="ion-float-end">
				<ion-icon class="zmdi zmdi-more-vert ion-text-end"></ion-icon>
			</span>
		</ion-title>
	</ion-toolbar>
	<div class="banner">
		<div class="banner_img center_img">
			<img src="assets/images/album5.png" class="crop_img">
		</div>
		<div class="banner_details">
			<div class="text_box">
				<h2>Shy Brid Album</h2>
				<p>Limova George</p>
			</div>
			<ion-button size="large" class="btn">{{'play_all' | translate}}</ion-button>
		</div>
	</div>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-item (click)="option()">
			<div class="item_container d-flex">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/album5.png" class="crop_img">
					</div>
				</div>

				<div class="item_detail">
					<h2>Like the way you look</h2>
					<h5 class="d-flex">Shy Brid | Limova George
						<ion-icon class="zmdi zmdi-more end ion-text-end"></ion-icon>
					</h5>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="option()">
			<div class="item_container d-flex">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/album5.png" class="crop_img">
					</div>
				</div>

				<div class="item_detail">
					<h2>One Last time</h2>
					<h5 class="d-flex">Shy Brid | Limova George
						<ion-icon class="zmdi zmdi-more end ion-text-end"></ion-icon>
					</h5>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="option()">
			<div class="item_container d-flex">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/album5.png" class="crop_img">
					</div>
				</div>

				<div class="item_detail">
					<h2>Say Hello & Goodbye</h2>
					<h5 class="d-flex"> Shy Brid | Limova George
						<ion-icon class="zmdi zmdi-more end ion-text-end"></ion-icon>
					</h5>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="option()">
			<div class="item_container d-flex">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/album5.png" class="crop_img">
					</div>
				</div>

				<div class="item_detail">
					<h2>Like the way you look</h2>
					<h5 class="d-flex">Shy Brid | Limova George
						<ion-icon class="zmdi zmdi-more end ion-text-end"></ion-icon>
					</h5>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="option()">
			<div class="item_container d-flex">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/album5.png" class="crop_img">
					</div>
				</div>

				<div class="item_detail">
					<h2>One Last time</h2>
					<h5 class="d-flex">Shy Brid | Limova George
						<ion-icon class="zmdi zmdi-more end ion-text-end"></ion-icon>
					</h5>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="option()">
			<div class="item_container d-flex">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/album5.png" class="crop_img">
					</div>
				</div>

				<div class="item_detail">
					<h2>Say Hello & Goodbye</h2>
					<h5 class="d-flex"> Shy Brid | Limova George
						<ion-icon class="zmdi zmdi-more end ion-text-end"></ion-icon>
					</h5>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="option()">
			<div class="item_container d-flex">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/album5.png" class="crop_img">
					</div>
				</div>

				<div class="item_detail">
					<h2>Like the way you look</h2>
					<h5 class="d-flex">Shy Brid | Limova George
						<ion-icon class="zmdi zmdi-more end ion-text-end"></ion-icon>
					</h5>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="option()">
			<div class="item_container d-flex">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/album5.png" class="crop_img">
					</div>
				</div>

				<div class="item_detail">
					<h2>One Last time</h2>
					<h5 class="d-flex">Shy Brid | Limova George
						<ion-icon class="zmdi zmdi-more end ion-text-end"></ion-icon>
					</h5>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="option()">
			<div class="item_container d-flex">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/album5.png" class="crop_img">
					</div>
				</div>

				<div class="item_detail">
					<h2>Say Hello & Goodbye</h2>
					<h5 class="d-flex"> Shy Brid | Limova George
						<ion-icon class="zmdi zmdi-more end ion-text-end"></ion-icon>
					</h5>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="option()">
			<div class="item_container d-flex">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/album5.png" class="crop_img">
					</div>
				</div>

				<div class="item_detail">
					<h2>Like the way you look</h2>
					<h5 class="d-flex">Shy Brid | Limova George
						<ion-icon class="zmdi zmdi-more end ion-text-end"></ion-icon>
					</h5>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="option()">
			<div class="item_container d-flex">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/album5.png" class="crop_img">
					</div>
				</div>

				<div class="item_detail">
					<h2>One Last time</h2>
					<h5 class="d-flex">Shy Brid | Limova George
						<ion-icon class="zmdi zmdi-more end ion-text-end"></ion-icon>
					</h5>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="option()">
			<div class="item_container d-flex">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/album5.png" class="crop_img">
					</div>
				</div>

				<div class="item_detail">
					<h2>Say Hello & Goodbye</h2>
					<h5 class="d-flex"> Shy Brid | Limova George
						<ion-icon class="zmdi zmdi-more end ion-text-end"></ion-icon>
					</h5>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="option()">
			<div class="item_container d-flex">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/album5.png" class="crop_img">
					</div>
				</div>

				<div class="item_detail">
					<h2>Like the way you look</h2>
					<h5 class="d-flex">Shy Brid | Limova George
						<ion-icon class="zmdi zmdi-more end ion-text-end"></ion-icon>
					</h5>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="option()">
			<div class="item_container d-flex">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/album5.png" class="crop_img">
					</div>
				</div>

				<div class="item_detail">
					<h2>One Last time</h2>
					<h5 class="d-flex">Shy Brid | Limova George
						<ion-icon class="zmdi zmdi-more end ion-text-end"></ion-icon>
					</h5>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="option()">
			<div class="item_container d-flex">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/album5.png" class="crop_img">
					</div>
				</div>

				<div class="item_detail">
					<h2>Say Hello & Goodbye</h2>
					<h5 class="d-flex"> Shy Brid | Limova George
						<ion-icon class="zmdi zmdi-more end ion-text-end"></ion-icon>
					</h5>
				</div>
			</div>
		</ion-item>

	</ion-list>
</ion-content>