ion-content.bg_img {
	--background: url(../../assets/images/bg_blur.png) 0 0/100% 100% no-repeat;
}

ion-list {
	.button.btn {
		--border-radius: 50px !important;
		max-width: calc(100% - 52px) !important;
		margin: 0 auto !important;
		display: block;
		margin-top: 35px !important;
	}
}

.message {
	width: calc(100% - 105px);
	margin: 29px auto;
	margin-bottom: 42px;

	h2 {
		margin: 0;
		color: var(--white);
		font-size: 1.3rem;
		margin-bottom: 7px;
	}

	p {
		margin: 0;
		color: var(--white);
		font-size: 1.1rem;
		line-height: 23px;
	}
}