<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'forgot_password' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_img">
	<div class="message">
		<h2>{{'sit_back_relax' | translate}}</h2>
		<p>{{'it_will_take_less_than_a_minute_to' | translate}}<br> {{'reset_a_password' | translate}}</p>
	</div>
	<div class="form">
		<ion-list lines="none">
			<ion-item lines="none" class="ion-no-padding">
				<ion-icon class="zmdi zmdi-email ion-text-start" slot="start"></ion-icon>
				<ion-input type="email" value="" placeholder="{{'enter_registered_email_address' | translate}}"></ion-input>
			</ion-item>
			<ion-button size="large" class="btn" (click)="choose_languages()">{{'submit' | translate}}</ion-button>
		</ion-list>
	</div>
</ion-content>