<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button  text=""  icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'choose_artits' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
	<ion-list lines="none">
		<ion-row>
			<ion-col size="4"> 
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img1.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Abd Resol</h2>
					</ion-label>
					<ion-checkbox slot="end" checked="true"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4"> 
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img2.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Aks Williamson</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img3.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Bohen Hesion</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img4.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Bumalo Pajero</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img5.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Adams Terena</h2>
					</ion-label>
					<ion-checkbox slot="end" checked="true"></ion-checkbox>
				</ion-item>
			</ion-col>

			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img6.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Afro Jacks</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>

			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img1.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Abd Resol</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img2.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Aks Williamson</h2>
					</ion-label>
					<ion-checkbox slot="end" checked="true"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img3.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Bohen Hesion</h2>
					</ion-label>
					<ion-checkbox slot="end" checked="true"></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img4.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Bumalo Pajero</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img5.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Adams Terena</h2>
					</ion-label>
					<ion-checkbox slot="end" checked="true"></ion-checkbox>
				</ion-item>
			</ion-col>

			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img6.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Afro Jacks</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>


			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img1.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Abd Resol</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img2.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Aks Williamson</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img3.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Bohen Hesion</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img4.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Bumalo Pajero</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img5.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Adams Terena</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>

			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img6.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Afro Jacks</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>


			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img1.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Abd Resol</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img2.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Aks Williamson</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img3.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Bohen Hesion</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img4.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Bumalo Pajero</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img5.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Adams Terena</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>

			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img6.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Afro Jacks</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>


			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img1.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Abd Resol</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img2.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Aks Williamson</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img3.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Bohen Hesion</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img4.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Bumalo Pajero</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img5.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Adams Terena</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>

			<ion-col size="4">
				<ion-item>
					<ion-label>
						<div class="img_box center_img">
							<img src="assets/images/img6.png" class="crop_img">
							<ion-icon class="zmdi zmdi-check"></ion-icon>
						</div>
						<h2>Afro Jacks</h2>
					</ion-label>
					<ion-checkbox slot="end" ></ion-checkbox>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-list>
</ion-content>

<ion-footer class="ion-no-border">
		<ion-button size="large" class="btn" (click)="goToTabs()">{{'next' | translate}}</ion-button>
</ion-footer>