ion-header {
  // background: var(--bg-color);
  background: #fff;
  ion-toolbar {
    --border-width: 0 0 0px;
  }
  ion-toolbar ion-title {
    span {
      &.ion-float-end {
        // background: #ffff;
        // border-radius: 0px;
        // font-size: 0.9rem;
        // font-weight: 500;
        // min-width: 101px;
        // border: 1px solid #ddd;
        // text-align: center;
        // height: 35px;
        // text-transform: uppercase;
        // line-height: 35px;
        margin-top: 13px;
      }
    }
  }

  ion-segment {
    border: none !important;
    position: relative;
    min-height: 56px;
    background: #fff !important;
    ion-segment-button {
      background: none !important;
      position: relative;
      min-width: 98px;
      --border-width: 1px;
      --border-color: #fff;
      font-size: 0.9rem;
      font-weight: 500;
      // color: var(--text-light) !important;
      color: #888888;
      text-transform: unset !important;
      letter-spacing: 0;
      --color-checked: var(--transparent) !important;
      text-align: justify !important;

      ion-label {
        position: relative;
        margin-bottom: 0;
      }

      // 			&::before {
      // 				content: '';
      // 				position: absolute;
      // 				bottom: 0px;
      // 				right: 0;
      // 				left: 0;
      // 				margin: 0 auto;
      // 				height: 4px;
      // 				transition: all .3s;
      // 				width: 0;
      // 				background: var(--primary);
      // 				border-radius: 50px;
      // 			}

      &.segment-button-checked {
        // color: var(--white) !important;
        color: #222222 !important;
        font-weight: 700;
        border: 0px !important;
        min-width: 120px;
        --border-width: 0px;
        --border-color: #fff;
        text-align: left;
        --padding-start: 0px !important;
        --indicator-box-shadow: 0 0 5px #fff !important;
        --indicator-color: var(
          --ion-color-step-350,
          var(--ion-background-color, #fff)
        ) !important;
        ion-label {
          &.active {
            &::before {
              opacity: 1;
            }
          }
        }

        &::before {
          width: 75px;
          transition: all 0.3s;
        }
      }
    }
  }
}

.tab_container {
  padding-top: 15px;

  .search_box {
    display: flex;
    align-items: center;
    //  border-bottom: 1px solid;
    background: linear-gradient(
      90deg,
      rgba(251, 0, 81, 1) 0%,
      rgba(183, 0, 154, 1) 60%,
      rgba(138, 0, 202, 1) 100%
    );
    background-size: 100% 1px;
    background-position: bottom 0 left 0, bottom 1px left 0;
    background-repeat: no-repeat;
    width: calc(100% - 40px);
    margin: 0 auto;
    // padding-bottom: 5px;
    margin-bottom: 22px;
    position: relative;

    ion-icon {
      // color: var(--white);
      font-size: 1.5rem;
      min-width: 30px;
      position: absolute;
      right: 0;
      z-index: 999999;
    }

    ion-searchbar {
      padding: 0 0px 0 0px !important;
      --background: var(--transparent) !important;
      font-weight: 500;
      --font-size: 1rem !important;
      --font-weight: 500 !important;
      // --color: var(--white);
      --placeholder-opacity: 0.6;
      --placeholder-color: var(--text-light);
      --placeholder-font-weight: 400 !important;
      --box-shadow: none !important;
      height: 35px !important;
      .searchbar-input-container {
        input {
          --box-shadow: none !important;
          padding: 0 !important;
          font-size: 1rem !important;
        }
      }
    }
  }

  ion-list {
    background: var(--transparent) !important;
    padding-top: 0px;
    //  border-top: 1px solid #dedede;

    ion-item {
      // margin-bottom: 5px;
      --background: var(--transparent) !important;
      --padding-start: 0;
      --inner-padding-end: 0px;
      --inner-min-height: unset !important;
      position: relative;
      overflow: hidden;
      width: 100%;
      // border-top: 1px solid #dedede;
      border-bottom: 1px solid #dedede;
      border-radius: 0px;

      .item_container {
        padding: 5px 5px 5px 5px;
        //  border-bottom: 1px solid #dedede;
        ion-row {
          width: 100%;
        }
        span {
          font-size: 12px;
          text-align: right;
          margin-top: 14px;
          display: inline-block;
        }
        ion-icon {
          font-size: 24px;
          margin-left: 15px;
          // margin-right: 10px;
          color: #4c2388;
          // margin-top: 10px;
        }
        .img_container {
          width: 43px;
          min-width: 43px;
          height: 43px;
          border-radius: 7px;
          margin-right: 10px;
          position: relative;
          background: var(--light);
          overflow: hidden;
          //  background-image: url(../../assets/images/logo-icon.png);

          ion-icon {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 40px;
            color: var(--white);
            font-size: 1.5rem;
          }

          .img_box {
            width: 100%;
            height: 100%;
          }
        }

        .item_detail {
          width:75%;
          //	padding-top: 5px;

          h2 {
            margin: 0;
            // color: var(--white);
            font-weight: 500;
            font-size: 1rem;
            margin-bottom: 0px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }

          h5 {
            color: var(--text-light);
            margin: 5px 0;
            font-size: 0.84rem;
            font-weight: 400;

            ion-icon {
              // color: var(--white);
              font-size: 1.3rem;
              // 							height: 17px;
              // 							line-height: 17px;
            }
          }
        }
      }
    }
  }
}

.search-result-div {
  position: absolute;
  height: 230px;
  width: 96%;
  border: 1px solid #ccc;
  left: 2.5%;
  overflow: scroll;
  box-shadow: 5px 5px 5px #ccc;
  top: 42%;
  background: #fff;
  z-index: 10;
}
