<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Library
      <!-- Add Podcasts -->
      <!-- <span class="ion-float-end"
        ><img src="assets/images/done-btn.png" width="100px"
      /></span> -->
    </ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="tab" lines="none" (ionChange)="tabChanged($event)">
    <ion-segment-button value="search">
      <ion-label>
        {{'search' | translate}}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="you_liked">
      <ion-label>
        {{'you_liked' | translate}}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="recentil_played">
      <ion-label>
        {{'recentil_played' | translate}}
      </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content class="">
  <div class="tab_container" [ngSwitch]="tab">
    <ion-list lines="none" *ngSwitchCase="'search'">
      <div class="search_box d-flex">
        <ion-icon class="zmdi zmdi-search" *ngIf="!searchVal.length"></ion-icon>
        <ion-icon
          class="zmdi zmdi-close-circle"
          *ngIf="searchVal.length"
          (click)="clearSearch()"
        ></ion-icon>
        <ion-searchbar
          #searchBar
          class="ion-no-padding"
          searchIcon="hide"
          placeholder="Search podcasts"
          [(ngModel)]="searchVal"
          (ionChange)="searchInput()"
          showCancelButton="never"
          clearIcon="hide"
        ></ion-searchbar>
      </div>

      <div *ngIf="searchRes.length">
        <ion-item *ngFor="let search of searchRes; let i = index;">
          <div class="item_container d-flex">
            <ion-row>
              <ion-col size="2" (click)="openPodcasts(search, i)">
                <div class="img_container">
                  <div class="img_box center_img">
                    <img
                      src="{{search?.image}}"
                      class="crop_img"
                      onError="this.onerror=null;this.src='assets/images/r1.png';"
                    />
                  </div>
                </div>
              </ion-col>
              <ion-col size="8" (click)="openPodcasts(search, i)">
                <div class="item_detail">
                  <h2>{{search?.post_title || search?.name}}</h2>
                  <h5 class="d-flex">{{search?.authorName || search?.taxonomy || ''}}</h5>
                </div>
              </ion-col>
              <ion-col size="2" style="padding-top: 10px;">
                <ion-icon
                  *ngIf="search?.isAddedToPlaylist !== 'yes'"
                  class="zmdi zmdi-plus-circle-o end ion-text-end"
                  (click)="addPodcastToPlaylist(search)"
                ></ion-icon>
                <ion-icon
                  *ngIf="search?.isAddedToPlaylist == 'yes'"
                  class="zmdi zmdi-minus-circle-outline end ion-text-end"
                  (click)="addPodcastToPlaylist(search)"
                ></ion-icon>
              </ion-col>
              <!-- <ion-col size="2">
                <span>36 mins</span>
              </ion-col> -->
            </ion-row>
          </div>
        </ion-item>
      </div>

      <div class="ion-text-center" *ngIf="!searchRes.length && showLoader">
        <ion-spinner name="crescent" color="dark"></ion-spinner>
      </div>
      <p *ngIf="!searchRes.length && !showLoader" class="ion-text-center">
        No result found
      </p>
      <div>
        <!-- <iframe src="https://open.spotify.com/embed?uri=spotify%3Aplaylist%3A3epVhtO7ZWOB4DzuJFY5da" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
        <!-- <iframe id="playbtn" src="https://embed.spotify.com/show/6Ijz5uEUxN6FvJI49ZGJAJ?si=OnYr4R5bRTWYqadYoIk8FA" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> -->
      </div>
    </ion-list>

    <ion-list lines="none" *ngSwitchCase="'you_liked'">
      <div *ngIf="likedSongs.length">
        <ion-item *ngFor="let liked of likedSongs; let i = index;">
          <div class="item_container d-flex">
            <div class="img_container" (click)="playSong(liked, i)">
              <div class="img_box center_img">
                <img
                  src="{{liked?.image}}"
                  class="crop_img"
                  onError="this.onerror=null;this.src='assets/images/r1.png';"
                />
              </div>
            </div>

            <div class="item_detail">
              <h2 (click)="playSong(liked, i)">{{liked.post_title}}</h2>
              <h5 class="d-flex">{{liked?.authorName || ''}}</h5>            
            </div>
            <h5>
              <!-- Hard Feelings | Adverd Johny -->
              <!-- <ion-icon
                class="zmdi zmdi-plus-circle-o end ion-text-end"
              ></ion-icon> -->
              <ion-icon
                *ngIf="liked?.isAddedToPlaylist == 'no'"
                class="zmdi zmdi-plus-circle-o end ion-text-end"
                (click)="addToPlaylist(liked)"
              ></ion-icon>
              <ion-icon
                *ngIf="constants.currentSong.ID !== liked.ID && liked?.isAddedToPlaylist == 'yes'"
                class="zmdi zmdi-minus-circle-outline end ion-text-end"
                (click)="addToPlaylist(liked)"
              ></ion-icon>
            </h5>
          </div>
        </ion-item>
      </div>
      <div class="no-record-found-div" *ngIf="!likedSongs.length">
        <p>No result found.</p>
      </div>
    </ion-list>

    <ion-list lines="none" *ngSwitchCase="'recentil_played'">
      <div *ngIf="recentlyPlayed.length">
        <ion-item *ngFor="let recent of recentlyPlayed; let i = index;">
          <div class="item_container d-flex">
            <div class="img_container" (click)="playSong(recent, i)">
              <div class="img_box center_img">
                <img
                  src="{{recent?.image}}"
                  class="crop_img"
                  onError="this.onerror=null;this.src='assets/images/r1.png';"
                />
              </div>
            </div>
            <div class="item_detail">
              <h2 (click)="playSong(recent, i)">{{recent.post_title}}</h2>
              <h5 class="d-flex">{{recent?.authorName || ''}}</h5>
            </div>
            <h5>
              <!-- Holiday | Adverd Johny -->
              <!-- <ion-icon
                class="zmdi zmdi-plus-circle-o end ion-text-end"
              ></ion-icon> -->
              <ion-icon
                *ngIf="recent?.isAddedToPlaylist == 'no'"
                class="zmdi zmdi-plus-circle-o end ion-text-end"
                (click)="addToPlaylist(recent)"
              ></ion-icon>
              <ion-icon
                *ngIf="constants.currentSong.ID !== recent.ID && recent?.isAddedToPlaylist == 'yes'"
                class="zmdi zmdi-minus-circle-outline end ion-text-end"
                (click)="addToPlaylist(recent)"
              ></ion-icon>
            </h5>
          </div>
        </ion-item>
      </div>
      <div class="no-record-found-div" *ngIf="!recentlyPlayed.length">
        <p>No record found.</p>
      </div>
    </ion-list>
  </div>
</ion-content>
