/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --white: #fff;
  --primary: #e62b26;
  --secondary: #1f2026;
  --dark: #151518;
  --black: #000;
  --gray: #cccccc;
  --bg-color: #0a0b0f;
  --transparent: rgba(0, 0, 0, 0);
  --text-dark: #25262c;
  --text-light: #6b6e7b;
}

.bg_none {
  --background: bar(--transparent) !important;
}

.bg_color {
  --background: var(--bg-color);
}
@font-face {
  font-family: Averta-CY-Bold;
  src: url(assets/font/Averta-CY-Bold.ttf);
}
@font-face{
  font-family: Averta-Black;
  src: url(assets/font/Averta-Black.ttf);
}
@font-face{
  font-family: AvertaCY-Regular;
  src:url(assets/font/AvertaCY-Regular.ttf)
}
@font-face{
  font-family: AvertaCY-Bold;
  src:url(assets/font/AvertaCY-Bold.ttf)
}
@font-face{
  font-family: Material-Design-Iconic-Font;
  src:url(assets/font/Material-Design-Iconic-Font.ttf)
}
p{
  font-family: AvertaCY-Regular;
}
span{
  font-family: AvertaCY-Regular;
}
ion-button{
  font-family: Averta-Black;

}
h1 {
  font-family: AvertaCY-Bold;
  
}
h2 {
  font-family: AvertaCY-Bold;
}
h3 {
  font-family: AvertaCY-Bold;

}
h4 {
  font-family: AvertaCY-Bold;

}
h5 {
  font-family: AvertaCY-Regular;

}
h6 {  font-family: AvertaCY-Bold;

}
ion-title {
  font-family: AvertaCY-Bold;
 
}
ion-label{
  font-family: AvertaCY-Regular;

}
.d-flex {
  display: flex !important;
  align-items: center;
  width: 100%;

  .end {
    margin-left: auto;
    margin-right: 10px;
    display: block;
  }
}

.center_img {
  position: relative;
  overflow: hidden;

  img {
    &.crop_img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: -50% !important;
      right: -50% !important;
      margin: auto;
      object-fit: cover;
    }
  }
}

.button {
  &.btn {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px !important;
    height: 53px;
    text-transform: uppercase !important;
    // --background: var(--primary);
    --background: rgb(251, 0, 81);
    --background: linear-gradient(
      90deg,
      rgba(251, 0, 81, 1) 0%,
      rgba(183, 0, 154, 1) 60%,
      rgba(138, 0, 202, 1) 100%
    );
    text-transform: none;
    color: var(--white);
    --border-radius: 4px;
    margin: 0;

    ion-icon {
      font-size: 1.4rem;
    }

    &:hover:not(.disable-hover) {
      --background: var(--primary);
    }

    &.button-outline {
      --background: var(--transparent);
      color: var(--white);
      --border-color: var(--primary);
      --border-width: 1px;

      &:hover:not(.disable-hover) {
        --background: var(--transparent);
      }
    }
  }
}

ion-header {
  z-index: 999;

  &::after {
    display: none !important;
  }

  ion-toolbar {
    // --background: var(--bg-color);
    display: flex;
    align-items: center;
    min-height: 56px !important;
    height: auto;
    overflow: visible !important;

    ion-buttons {
      position: relative !important;
      margin: 0;
      --padding-end: 0 !important;
      --padding-start: 0 !important;

      ion-back-button {
        --color: #222 !important;
        color: #222 !important;
        font-size: 12px;
      }

      .button-inner {
        ion-icon {
          //font-size: 1.5rem;
          padding-left: 10px;
          color: var(--white);
        }

        .button-text {
          display: none;
        }
      }

      ion-menu-button {
        --color: var(--white) !important;
        //--padding-start: 0 !important;
        --padding-end: 0 !important;
        font-size: 1.8rem !important;

        &.ios {
          font-size: 2rem !important;
        }
      }

      ion-back-button {
        .button-native {
          padding: 0 !important;
        }
      }

      &.dark_icon {
        ion-menu-button {
          --color: var(--black) !important;
        }

        .button-inner {
          ion-icon {
            color: var(--black);
          }
        }
      }
    }

    ion-title {
      // color: var(--white);
      padding: 0 10px !important;
      text-align: justify;
      font-size: 1rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      position: relative !important;
      overflow: visible !important;
      line-height: 56px;

      .end {
        margin-right: 0;
        margin-left: auto;
        display: block;
      }
    }
  }

  &.bg_transparent {
    //position: absolute;
    z-index: 999;
    width: 100%;
    height: auto;

    ion-toolbar {
      --background: transparent;
      --ion-color-base: transparent !important;
	  --border: none !important;
	  border: none !important;
	  .toolbar-background {
		--border: none !important;
		--border-width: 0px;
		border: none !important;
	  }
	  .toolbar-container {
		--border: none !important;
		--border-width: 0px;
		border: none !important;
	  }
    }
  }
}

.no-padding {
  padding: 0px !important;
}

.form {
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: calc(100% - 50px);

  ion-list {
    background: var(--transparent) !important;
    margin: 0;
  }

  ion-item {
    padding: 0px 0px 0px 0px;
    min-height: unset !important;
    box-shadow: none !important;
    --background: var(--transparent);
    align-items: flex-start;
    //border-top: 1px solid var(--ion-color-light-shade) !important;
    --inner-padding-end: 0px;
    --inner-min-height: unset !important;
    margin-bottom: 25px;
    --padding-start: 0;
    --highligh-color-focused: var(--transparent) !important;
    box-shadow: none !important;
    border-bottom: 1px solid #ccc !important;

    ion-icon {
      margin: 0;
      // color: var(--white);
      color: #383838;
      font-size: 1.3rem;
      min-width: 32px;
    }

    ion-label {
      color: var(--text-light);
      margin: 0;
      font-size: 1.3rem;
  font-family: AvertaCY-Regular;

      font-weight: 500;
      margin-bottom: 15px;
      width: 100%;
      display: block;
    }

    ion-textarea,
    ion-input {
      margin-top: 0px;
      --padding: 0 !important;
      font-size: 1rem !important;
      font-weight: 500;
  font-family: AvertaCY-Bold;
      --padding-start: 0 !important;
      --padding-end: 0 !important;
      --padding-top: 0 !important;
      --padding-bottom: 0px !important;
      // color: var(--white);
      --placeholder-color:     #bbb6cf !important;
      --placeholder-opacity: 1;
      position: relative;
      //	top: 4px;

      input {
        --padding: var(--no-padding);

        &.native-input {
          --padding: var(--no-padding);
        }
      }
    }

    h3 {
      margin: 0 !important;
      margin: 0 !important;
      font-weight: 500;
      font-size: 0.9rem;
      position: relative;
      height: 48px;
      top: -2px;
      color: var(--primary);
      line-height: 46px;
    }

    &:first-child {
      border-top: none !important;
    }

    &.forgot {
      position: relative;

      ion-input {
        border: none !important;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 17px;
        left: 0;
        right: 0;
        background: #ccc;
        height: 1px;
        width: calc(100% - 34px);
        margin: 0 auto;
      }
    }
  }

  ion-row {
    margin: 0 -5px;
  }
}

.alert-wrapper {
  // --background: var(--bg-color);

  .alert-head {
    h2 {
      // color: var(--white);
    }
  }

  .alert-radio-group {
    .alert-radio-label {
      // color: var(--white) !important;
    }
  }
}

.action-sheet-wrapper {
  // --background: var(--bg-color);
  --background: #fff;
  .action-sheet-container {
    .action-sheet-group {
      .action-sheet-button {
        padding: 0 20px;
        color: #222;
        font-size: 1rem !important;

        &.action-sheet-selected {
          color: var(--primary);
        }
      }

      &.action-sheet-group-cancel {
        background: var(--primary) !important;
        height: 53px;

        .action-sheet-button {
          .action-sheet-button-inner {
            font-size: 1.1rem;
            font-weight: 500;
            letter-spacing: 1px !important;
            display: block;
            text-align: center;
            line-height: 53px;
          }
        }
      }
    }
  }
}

app-tabs {
  // background: var(--bg-color);
}

app-add-song,
app-search {
  ion-searchbar {
    .searchbar-input-container {
      input {
        box-shadow: none !important;
        padding: 0 !important;
        font-size: 0.9rem !important;
        font-weight: 600 !important;
      }
    }
  }
}

ion-modal {
  --background: rgba(0, 0, 1, 0.267) !important;
}

app-radio-play {
  background: var(--bg-color);

  ion-content {
    border-radius: 27px 27px 0 0;
    overflow-y: scroll;
  }
}

ion-app[dir="rtl"] {
  .d-flex .end {
    margin-left: 0;
    margin-right: auto;
  }

  ion-header ion-toolbar ion-buttons .button-inner ion-icon {
    padding-left: 0px !important;
    padding-right: 10px;
  }

  app-sign-up .social_login ion-row ion-col .button.btn img,
  app-sign-in .social_login ion-row ion-col .button.btn img {
    right: unset !important;
    left: 10px;
  }

  app-radio-play .container .scroll_container .item_srcoll,
  app-radio .container .scroll_container .item_srcoll,
  app-search .container .scroll_container .item_srcoll,
  app-home .container .scroll_container .item_srcoll {
    &:first-child {
      margin-left: 5px !important;
      margin-right: 20px !important;
    }

    &:last-child {
      margin-right: 5px !important;
      margin-left: 20px !important;
    }
  }

  app-radio
    .container.artist_radio
    .scroll_container
    .item_srcoll
    .img_box
    ion-icon {
    right: unset !important;
    left: 5px !important;
  }

  app-playsong ion-list ion-item .item_container .img_container,
  app-arist-song ion-list ion-item .item_container .img_container,
  app-album-song ion-list ion-item .item_container .img_container,
  app-add-song ion-list ion-item .item_container .img_container,
  app-play-list-song ion-list ion-item .item_container .img_container,
  app-playlist .tab_container ion-list ion-item .item_container .img_container {
    margin-right: 0px !important;
    margin-left: 20px !important;
  }

  app-payment .container .payment_option .img_box {
    margin-right: 0px !important;
    margin-left: 20px !important;
  }

  app-option ion-footer {
    .song_detail .img_box {
      margin-right: 0px !important;
      margin-left: 20px !important;
    }

    .option_container .song_option ion-icon {
      margin-right: 0px !important;
      margin-left: 20px !important;
    }
  }
}

.error {
  margin-top: 0px;
  color: #f00;
}
 
.custom-loading {
	.loading-wrapper {
		--background: rgb(251, 0, 81);
		--background: linear-gradient(
		  90deg,
		  rgba(251, 0, 81, 1) 0%,
		  rgba(183, 0, 154, 1) 60%,
		  rgba(138, 0, 202, 1) 100%
		);
	}
	--spinner-color: #fff;
	.loading-content {
		color: #fff;
	}

	ion-spinner {
		svg {
			color: #fff;
		}
	}
}

.browse-categories-title {
  white-space: break-spaces !important;
  text-overflow: inherit !important;
}

.no-record-found-div {
  text-align: center;
}

ion-header ion-toolbar:last-of-type {
  --border-width: 0 0 0 !important;
}

.searchbar-search-icon {
  right: 0 !important;
  left: unset !important;
}


.item-has-focus .label-floating {
  color: black !important;
}

.segment-button-checked ion-label {
  color: #000;
}

.searchbar-input-container {
  input{
    width: 90% !important;
  }
}

.zmdi-minus-circle-outline {
  color: #f00 !important;
}


@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */ 
  ion-header {
    padding-top: 35px;
  }
  app-add-song, app-setting, app-sign-in, app-sign-up {
    ion-header {
      padding-top: 0px !important;
    }
  }
}