<ion-header>
  <ion-toolbar class="search-header">
    <ion-row>
      <ion-col size="3">
        <p>Search</p>
      </ion-col>
      <ion-col size="6" text-center>
        <div class="logo-icon">
          <img src="assets/images/logo-icon.png" width="35px" />
        </div>
      </ion-col>
      <ion-col size="3" text-right>
        <div class="right-icon">
          <ion-icon name="options-outline" (click)="gotoSetting()"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <!-- <div class="search_box d-flex">
		<ion-icon class="zmdi zmdi-search"></ion-icon>
		<ion-searchbar class="ion-no-padding" searchIcon="hide" placeholder="{{'search_text' | translate}}"></ion-searchbar>
	</div> -->
</ion-header>

<ion-content class="" fullscreen>
  <div class="container newly_launched">
    <div class="page-title">
      <h1>
        {{'what_d_you_like' | translate}} <br />{{'to_listen_today' |
        translate}}
      </h1>
    </div>
    <div>
      <ion-item>
        <ion-label position="floating">Search</ion-label>
        <ion-input
          clearInput
          [(ngModel)]="searchVal"
          (ionChange)="searchInput()"
        ></ion-input>
      </ion-item>
      <!-- <div class="search-result-div" *ngIf="showRes">
				<ion-item button (click)="chooseSearch(res)" *ngFor="let res of searchRes">
					<ion-label>
						{{res.post_title}}
					</ion-label>
				</ion-item>
			</div> -->
    </div>
</div>
  <div class="play_list_container">
    <div *ngIf="searchRes.length">
      <div class="play_list" *ngFor="let res of searchRes; let i = index;">
        <ion-row>
          <ion-col size="2" (click)="openPodcast(res, i)">
            <div class="searched-image-container">
              <img src="{{res?.image}}" onError="this.onerror=null;this.src='assets/images/r1.png';" class="searched-img" />
            </div>
          </ion-col>
          <ion-col size="8" (click)="openPodcast(res, i)">
            <div class="list_content">
              <h4>{{res?.name}}</h4>
              <!-- <p>{{res?.artistname}}</p> -->
            </div>
          </ion-col>
          <ion-col size="2">
            <!-- <ion-icon name="ellipsis-horizontal-outline"></ion-icon> -->  
            <ion-icon
            *ngIf="res?.isAddedToPlaylist !== 'yes'"
            class="zmdi zmdi-plus-circle-o end ion-text-end"
            (click)="addPodcastToPlaylist(res)"
          ></ion-icon>
          <ion-icon
            *ngIf="res?.isAddedToPlaylist == 'yes'"
            class="zmdi zmdi-minus-circle-outline end ion-text-end"
            (click)="addPodcastToPlaylist(res)"
          ></ion-icon>
        </ion-col>
          <!-- <ion-col size="2">
            <h5>36 mins</h5>
          </ion-col> -->
        </ion-row>
      </div>
      
    </div>
    <div class="ion-text-center" *ngIf="!searchRes.length && showLoader">
      <ion-spinner name="crescent" color="dark"></ion-spinner>
    </div>
    <p *ngIf="!searchRes.length && !showLoader" class="ion-text-center">
      No result found
    </p>
    <!-- <p *ngIf="!searchRes.length" class="ion-text-center">
      No result found
    </p> -->
    <!-- <div class="play_list">
      <ion-row>
        <ion-col size="2">
          <img src="assets/images/song_img.png" />
        </ion-col>
        <ion-col size="7">
          <div class="list_content">
            <h4>Neque porro quisquam.</h4>
            <p>Neque porro quisquam est qui dolorem...</p>
          </div>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </ion-col>
        <ion-col size="2">
          <h5>36 mins</h5>
        </ion-col>
      </ion-row>
    </div>
    <div class="play_list">
      <ion-row>
        <ion-col size="2">
          <img src="assets/images/song_img.png" />
        </ion-col>
        <ion-col size="7">
          <div class="list_content">
            <h4>Neque porro quisquam.</h4>
            <p>Neque porro quisquam est qui dolorem...</p>
          </div>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </ion-col>
        <ion-col size="2">
          <h5>36 mins</h5>
        </ion-col>
      </ion-row>
    </div> -->
  </div>
  <div class="container how_is_your_mood" *ngIf="categories.length">
    <!-- <h2>{{'which_genre_you_like_to_listen' | translate}}</h2> -->
    <h2>Which Categories Interest you?</h2>

    <div class="scroll_container">
      <div class="item_srcoll Party" *ngFor="let cat of categories;" (click)="openCategory(cat)">
        <div class="img_box center_img">
          <!-- <img src="assets/images/m1.png" class="crop_img"> -->
          
          <!-- <div class="img-center">
            <img src="assets/images/news.png" />
          </div> -->
          <h5>{{cat?.name}}</h5>
        </div>
      </div>
      <!-- <div class="item_srcoll Romance">
        <div class="img_box center_img">
          <div class="img-center">
            <img src="assets/images/comedy.png" class="" />
          </div>
          <h5>Comedy</h5>
        </div>
      </div>
      <div class="item_srcoll Retro">
        <div class="img_box center_img">

          <div class="img-center">
            <img src="assets/images/ground.png" class="" />
          </div>

          <h5>Sports</h5>
        </div>
      </div>
      <div class="item_srcoll Rock">
        <div class="img_box center_img">
          <img src="assets/images/m4.png" class="crop_img" />
          <h5>Rock</h5>
        </div>
      </div>
      <div class="item_srcoll Party">
        <div class="img_box center_img">
          <img src="assets/images/m1.png" class="crop_img" />
          <h5>Party</h5>
        </div>
      </div>
      <div class="item_srcoll Romance">
        <div class="img_box center_img">
          <img src="assets/images/m2.png" class="crop_img" />
          <h5>Romance</h5>
        </div>
      </div>
      <div class="item_srcoll Retro">
        <div class="img_box center_img">
          <img src="assets/images/m3.png" class="crop_img" />
          <h5>Retro</h5>
        </div>
      </div>
      <div class="item_srcoll Rock">
        <div class="img_box center_img">
          <img src="assets/images/m4.png" class="crop_img" />
          <h5>Rock</h5>
        </div>
      </div>
      <div class="item_srcoll Party">
        <div class="img_box center_img">
          <img src="assets/images/m1.png" class="crop_img" />
          <h5>Party</h5>
        </div>
      </div>
      <div class="item_srcoll Romance">
        <div class="img_box center_img">
          <img src="assets/images/m2.png" class="crop_img" />
          <h5>Romance</h5>
        </div>
      </div>
      <div class="item_srcoll Retro">
        <div class="img_box center_img">
          <img src="assets/images/m3.png" class="crop_img" />
          <h5>Retro</h5>
        </div>
      </div>
      <div class="item_srcoll Rock">
        <div class="img_box center_img">
          <img src="assets/images/m4.png" class="crop_img" />
          <h5>Rock</h5>
        </div>
      </div> -->
    </div>
  </div>

  <!-- <div class="container recommended">
		<h2>{{'recommended_for_you' | translate}}</h2>
		<div class="item_container">
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al1.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al2.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al3.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al4.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al5.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al6.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al1.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al2.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al3.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al4.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al5.png" class="crop_img">
				</div>
			</div>
			<div class="item_box" (click)="playsong()">
				<div class="img_box center_img">
					<img src="assets/images/al6.png" class="crop_img">
				</div>
			</div>
		</div>
	</div> -->
</ion-content>
