ion-header {
  //background: var(--bg-color);
  ion-toolbar ion-title {
    padding: 0 18px !important;
    h2 {
      margin: 0;
      font-size: 1.6rem;
      font-weight: 600;
      padding-top: 14px;
    }
  }
  .search-header {
    padding: 0 16px;
    --border-width: 0px;
    vertical-align: middle;
    p {
      text-align: left;
      font-weight: bold;
    }
    .logo-icon {
      text-align: center;
      padding-top: 5px;
    }
    .right-icon {
      text-align: right;
      ion-icon {
        font-size: 30px;
        padding-top: 5px;
        color: #d723f1;
        vertical-align: middle;
      }
    }
  }

  .search_box {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--dark);
    width: calc(100% - 40px);
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 24px;

    ion-icon {
      // color: var(--white);
      font-size: 1.5rem;
      min-width: 30px;
    }

    ion-searchbar {
      padding: 0 0px 0 0px !important;
      --background: var(--transparent) !important;
      font-weight: 500;
      --font-size: 4rem !important;
      --font-weight: 500 !important;
      --color: var(--white);
      --placeholder-opacity: 0.8;
      --placeholder-color: var(--text-light);
      --placeholder-font-weight: 400 !important;
      --box-shadow: none !important;

      .searchbar-input-container {
        input {
          --box-shadow: none !important;
          padding: 0 !important;
        }
      }
    }
  }
}

.container {
  margin-bottom: 23px;
  .page-title {
    padding: 0 16px 16px;
  }

  h2 {
    margin: 0;
    // color: var(--white);
    font-size: 1.1rem;
    font-weight: 800;
    padding: 0px 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    line-height: 40px;
  }

  .scroll_container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;

    .item_srcoll {
      display: inline-block;
      margin: 0 5px;

      &:first-child {
        margin-left: 20px;
      }

      &:last-child {
        margin-right: 20px;
      }
    }
  }

  &.newly_launched {
    padding-top: 20px;

    .scroll_container {
      .item_srcoll {
        width: 105px;

        .img_box {
          width: 105px;
          height: 105px;
          border-radius: 7px;
          margin-bottom: 7px;
        }

        h5 {
          color: var(--white);
          margin: 0;
          font-size: 0.9rem;
          font-weight: 400;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          letter-spacing: 0.2px;
        }
      }
    }
  }

  &.how_is_your_mood {
    .scroll_container {
      .item_srcoll {
        position: relative;
        width: 105px;
        height: 100px;

        overflow: hidden;
        border-radius: 7px;

        .img_box {
          // position: absolute;
          // left: 0;
          // top: 15px;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: capitalize;
          // display: flex;
          // align-items: center;
          .img-center {
            width: 100%;
            position: relative;
            z-index: 999;
            text-align: center;
            img {
              // position: absolute;
              top: 8px;
              width: 45px;
              z-index: 999;
            }
          }
        }

        h5 {
          position: relative;
          z-index: 99;
          color: var(--white);
          margin: 5px 0;
          font-size: 0.9rem;
          font-weight: 400;
          white-space: break-spaces;
          // white-space: nowrap;
          // text-overflow: ellipsis;
          // overflow: hidden;
          letter-spacing: 0.2px;
          text-align: center;
          align-self: center;
          width: 100%;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: var(--primary);
          // opacity: .8;
        }

        &.Party {
          &::after {
            background: #781ad1;
          }
        }

        &.Romance {
          &::after {
            background: #821ab7;
          }
        }

        &.Retro {
          &::after {
            background: #ad20a3;
          }
        }

        &.Rock {
          &::after {
            background: #31631d;
          }
        }
      }
    }
  }

  &.recommended {
    h2 {
      margin-bottom: 10px;
    }

    .item_container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 20px;
      margin: 0 -5px;

      .item_box {
        display: block;
        min-width: 33.33%;
        max-width: 33.33%;
        padding: 5px;

        .img_box {
          width: 100%;
          margin: 0 auto;
          height: 105px;
          border-radius: 7px;
        }

        h5 {
          color: var(--white);
          margin: 0;
          font-size: 0.9rem;
          font-weight: 400;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          letter-spacing: 0.2px;
        }
      }
    }
  }
}
.play_list_container {
  margin-bottom: 20px;
  .play_list {
    border-bottom: 1px solid #dedede;
    // margin-bottom:20px;
    padding: 10px 0;
    .list_content {
      margin-top: 13px;
    }
    h4 {
      margin: 0;
      font-size: 16px;
    }
    p {
      margin: 0;
      font-size: 12px;
    }
    h5 {
      margin: 0;
      text-align: right;
      font-size: 12px;
      vertical-align: middle;
      margin-top: 22px;
    }
    ion-icon {
      text-align: right;
      vertical-align: middle;
      margin-top: 22px;
      font-size: 24px;
      margin-left: 15px;
      color: #4c2388;
    }
  }
}

.search-result-div {
  position: absolute;
  height: 230px;
  width: 96%;
  border: 1px solid #ccc;
  left: 2.5%;
  overflow: scroll;
  box-shadow: 5px 5px 5px #ccc;
  top: 42%;
  background: #fff;
  z-index: 10;
}

ion-col {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.searched-image-container {
  width: 43px;
  min-width: 43px;
  height: 43px;
  border-radius: 7px;
  object-fit: cover;
  margin-left: 10px;
  .searched-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
  }
}
