ion-header ion-toolbar ion-title {
	padding: 0 15px !important;

	.app_logo {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		width: 90px;
	}

	span {
		ion-icon {
			font-size: 1.3rem;
		}
	}
}
ion-toolbar{
	--border-width: 0 0 0 0;
}
.search-header{
	padding:0 16px;
	--border-width: 0px !important;
	vertical-align: middle;
	p{
		text-align: left;
		font-weight:bold;
	}
	.logo-icon{
		text-align: center;
		padding-top: 5px;
	}
	.right-icon{
		text-align:right;
		ion-icon {
			font-size: 30px;
			padding-top: 5px;
			color: #d723f1;
			vertical-align: middle;
		}
	}
}
.container {
	margin-bottom: 23px;

	h2 {
		margin: 0;
		color: #fc316d;
		// color: var(--white);
		font-size: 1.1rem;
		font-weight: 400;
		padding: 0px 20px;
		margin-top:10px;
		margin-bottom: 10px;
		// text-transform: uppercase;
	}
     p{
		 padding:0 20px;
		 margin: 0;
		 margin-bottom: 5px;
	 }
	 h5{
		 padding: 0 20px;
		 margin: 0;
		 margin-bottom: 5px;
	 }
	.scroll_container {
		width: 100%;
		overflow-x: scroll;
		white-space: nowrap;

		.item_srcoll {
			display: inline-block;
			margin: 0 5px;

			&:first-child {
				margin-left: 20px;
			}

			&:last-child {
				margin-right: 20px;
			}
		}

	}

	&.stories {
		padding-top: 10px;

		.item_srcoll {
			width: 68px;
			height: 68px;

			.img_container {
				width: 68px;
				height: 68px;
				position: relative;
				border-radius: 50%;
				border: 1px solid var(--primary);
				margin-bottom: 7px;

				.img_box {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					width: calc(100% - 5px);
					height: calc(100% - 5px);
					border-radius: 50%;
					margin: auto;
				}
			}

			h5 {
				// color: var(--white);
				margin: 0;
				font-size: .7rem;
				font-weight: 400;
				text-align: center;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				letter-spacing: .2px;
			}

		}
	}

	&.recently_played {
		.scroll_container {
			.item_srcoll {
				width: 160px;

				.img_box {
					width: 160px;
					height: 160px;
					border-radius: 7px;
					margin-bottom: 7px;
				}

				h5 {
					// color: var(--white);
					margin: 0;
					font-size: .9rem;
					padding: 0;
					font-weight: 800;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					letter-spacing: .2px;

				}
				p{
					padding: 0;
					font-size: 13px;
				}
			}
		}
	}

	&.how_is_your_mood {

		.scroll_container {
			.item_srcoll {
				position: relative;
				width: 160px;
				height: 160px;
				overflow: hidden;
				border-radius: 7px;

				.img_box {
					// position: absolute;
					left: 0;
					top: 45px;
					width: 100%;
					height: 100%;
					// display: flex;
					// align-items: center;
					.img-center {
						width: 100%;
						position: relative;
						z-index: 999;
						text-align: center;
						img{
							// position: absolute;
							top: 8px;
							width: 45px;
							z-index: 999;
						}
					}
					
				}

				h5 {
					position: relative;
					z-index: 99;
					color: var(--white);
					margin:5px  0;
					font-size: .9rem;
					font-weight: 400;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					letter-spacing: .9px;
					text-align: center;
					align-self: center;
					width: 100%;
				}

				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: var(--primary);
					// opacity: .8;
				}

				&.Party {
					&::after {
						background: #781ad1;
					}
				}

				&.Romance {
					&::after {
						background: #821ab7;
					}
				}

				&.Retro {
					&::after {
						background: #ad20a3;
					}
				}

				&.Rock {
					&::after {
						background: #31631d;
					}
				}
			}
		}
	}


	&.banner {
		.scroll_container {
			.item_srcoll {
				position: relative;
				width: 330px;
				height: 160px; 
				overflow: hidden;
				border-radius: 7px;

				.img_box {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
				}
			}
		}

	}
}

ion-spinner {
	--color: var(--primary);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 70px;
	height: 70px;

}


.img_box.center_img.featured-episodes-content-div {
	position: relative;
	background: #000;
}


.featured-episodes-title {
    position: absolute;
    z-index: 9999;
    text-align: left;
    top: 7px;
    color: #fff;
	h5 {
		padding: 10px 20px;
		margin: 0;
		margin-bottom: 5px;
		color: #fff;
		font-size: 20px;
		white-space: initial;
		font-weight: bold;
	}
}

.featured-episodes-content-div img.crop_img {
    opacity: 0.7;
}

.no-record-found {
	font-size: 14px;
}

@media (max-width:375px){
	.container.banner .scroll_container .item_srcoll {
        width: 280px;
        height: 160px;
    }
}