<ion-header>
  <!-- <ion-toolbar>
		<ion-title>
			<span class="ion-float">Browse</span>
			<div class="app_logo">
				<img src="assets/images/logo-icon.png" width="35px">
			</div>
			<span class="ion-float-end" (click)="gotoSetting()">
				<ion-icon class="zmdi zmdi-settings ion-text-end"></ion-icon>
			</span>
		</ion-title>
	</ion-toolbar> -->
  <ion-toolbar class="search-header">
    <ion-row>
      <ion-col size="3">
        <p>Browse</p>
      </ion-col>
      <ion-col size="6" text-center>
        <div class="logo-icon">
          <img src="assets/images/logo-icon.png" width="35px" />
        </div>
      </ion-col>
      <ion-col size="3" text-right>
        <div class="right-icon">
          <ion-icon name="options-outline" (click)="gotoSetting()"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="" fullscreen>
  <!-- <div class="container stories">
		<div class="scroll_container">
			<div class="item_srcoll" (click)="stories()">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/st1.png" class="crop_img">
					</div>
				</div>
				<h5>Ad Sheeck</h5>
			</div>
			<div class="item_srcoll" (click)="stories()">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/st2.png" class="crop_img">
					</div>
				</div>
				<h5>Giva Johns</h5>
			</div>
			<div class="item_srcoll" (click)="stories()">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/st3.png" class="crop_img">
					</div>
				</div>
				<h5>Adelo Poles</h5>
			</div>
			<div class="item_srcoll" (click)="stories()">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/st4.png" class="crop_img">
					</div>
				</div>
				<h5>Riloza Viz</h5>
			</div>
			<div class="item_srcoll" (click)="stories()">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/st1.png" class="crop_img">
					</div>
				</div>
				<h5>Ad Sheeck</h5>
			</div>
			<div class="item_srcoll" (click)="stories()">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/st2.png" class="crop_img">
					</div>
				</div>
				<h5>Giva Johns</h5>
			</div>
			<div class="item_srcoll" (click)="stories()">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/st3.png" class="crop_img">
					</div>
				</div>
				<h5>Adelo Poles</h5>
			</div>
			<div class="item_srcoll" (click)="stories()">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/st4.png" class="crop_img">
					</div>
				</div>
				<h5>Riloza Viz</h5>
			</div>
			<div class="item_srcoll" (click)="stories()">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/st1.png" class="crop_img">
					</div>
				</div>
				<h5>Ad Sheeck</h5>
			</div>
			<div class="item_srcoll" (click)="stories()">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/st2.png" class="crop_img">
					</div>
				</div>
				<h5>Giva Johns</h5>
			</div>
			<div class="item_srcoll" (click)="stories()">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/st3.png" class="crop_img">
					</div>
				</div>
				<h5>Adelo Poles</h5>
			</div>
			<div class="item_srcoll" (click)="stories()">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/st4.png" class="crop_img">
					</div>
				</div>
				<h5>Riloza Viz</h5>
			</div>

			<div class="item_srcoll" (click)="stories()">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/st1.png" class="crop_img">
					</div>
				</div>
				<h5>Ad Sheeck</h5>
			</div>
			<div class="item_srcoll" (click)="stories()">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/st2.png" class="crop_img">
					</div>
				</div>
				<h5>Giva Johns</h5>
			</div>
			<div class="item_srcoll" (click)="stories()">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/st3.png" class="crop_img">
					</div>
				</div>
				<h5>Adelo Poles</h5>
			</div>
			<div class="item_srcoll" (click)="stories()">
				<div class="img_container">
					<div class="img_box center_img">
						<img src="assets/images/st4.png" class="crop_img">
					</div>
				</div>
				<h5>Riloza Viz</h5>
			</div>
		</div>
	</div> -->

  <div class="container recently_played">
    <h2>Featured Episode</h2>
  </div>

  <div class="container banner">
    <div class="scroll_container" *ngIf="featured.length">
      <div
        class="item_srcoll"
        *ngFor="let feature of featured; let i = index;"
        (click)="playsong(feature, i)"
      >
        <div class="img_box center_img featured-episodes-content-div">
          <div class="featured-episodes-title">
            <h5>{{feature.post_title}}</h5>
            <p>{{feature.artistname || ''}}</p>
          </div>
          <img
            src="{{feature?.image}}"
            onError="this.onerror=null;this.src='assets/images/r1.png';"
            class="crop_img"
          />
        </div>
      </div>
	</div>
	<p *ngIf="!featured.length" class="no-record-found">
		No featured episodes found.
	  </p>
  </div>
  <hr />

  <div class="container recently_played" style="border-top: 1px solid #dedede;">
    <h2 style="color: #222; font-weight: 700;">Featured Podcasts</h2>
    <div class="scroll_container" *ngIf="featuredPod.length">
      <div
        class="item_srcoll"
        *ngFor="let feature of featuredPod; let i = index;"
        (click)="openPodcast(feature)"
      >
        <div class="img_box center_img">
          <img
            src="{{feature?.image}}"
            onError="this.onerror=null;this.src='assets/images/r1.png';"
            class="crop_img"
          />
        </div>
        <h5>{{feature.name}}</h5>
        <p>{{feature.taxonomy || ''}}</p>
      </div>
    </div>
    <p *ngIf="!featuredPod.length" class="no-record-found">
      No featured podcasts found.
    </p>
  </div>

  <div
    class="container how_is_your_mood"
    style="border-top: 1px solid #dedede;"
  >
    <h2 style="color: #222; font-weight: 700;">Categories</h2>
    <div class="scroll_container" *ngIf="categories.length">
      <div
        class="item_srcoll Party"
        *ngFor="let cat of categories; let i = index;"
        (click)="openCategory(cat)"
      >
        <div class="img_box center_img">
          <div class="img-center">
            <img *ngIf="cat.image" src="{{cat?.image}}" />
          </div>
          <h5 class="browse-categories-title">{{cat.name}}</h5>
        </div>
      </div>
    </div>
    <p *ngIf="!categories.length" class="no-record-found">
      Categories not found.
    </p>
  </div>
</ion-content>
